/*!
* Turkuaz Framework v1.0
* www.turkuazcss.com
*/

/*!
*    Turkuaz Framework - CSS Kod Duzeni
*
*    1.     Genel CSS
*      1.1    Tablolar
*    2.     Grid Sistemi
*    3.     Yardimci Kodlar
*    4.     Yazi Stili
*    5.     Arkaplan
*      5.1    Arkaplan Desenleri
*      5.2    Arkaplan Renkleri
*    6.     Buton
*      6.1    Buton Ayarlari
*      6.2    Buton Cesitleri
*      6.3    Buton Efektleri
*    7.     Form
*      7.1    Checkbox
*      7.2    Dosya Secici
*      7.3    Input
*      7.4    Radio Buton
*      7.5    Select
*      7.6    Tarih Secici
*      7.7    Textarea
*    8.     Footer
*    9.     Kartlar
*      9.1    Kart Ayarlari
*      9.2    Kart Boyutlari
*      9.3    Kart Efektleri
*    10.    Nav
*      10.1    Etiket
*      10.2    Menu
*      10.3    Sayfa Konumu
*      10.4    Sayfa Numaralandirma
*    11.    Notlar
*    12.    Pano
*    13.    Tab Menu
*    14.    Yazi
*      14.1    Yazi Ayarlari
*      14.2    Yazi Boyutlari
*      14.3    Yazi Renkleri
*
*/



/* ============= 1. Genel CSS  */

html {
    box-sizing: border-box
}

*,
:before,
:after {
    box-sizing: inherit
}

::-webkit-scrollbar {
    width:10px;
    background-color: rgba(0,0,0,.05);
}
::-webkit-scrollbar-track {
    border: 0;
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #1AC5B8;
}

::selection {
    background-color: #1AC5B8;
    color: #FFF
}

body {
    background-color: #FFF;
    font-family: "Roboto", sans-serif;
    font-size: 13px;
    margin: 0;
    letter-spacing: .3px
}

@media only screen and (min-width: 400px) {
    body {
        font-size: 13.5px
    }
}

@media only screen and (min-width: 800px) {
    body {
        font-size: 14px
    }
}

@media only screen and (min-width: 1000px) {
    body {
        font-size: 14.5px
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 15px
    }
}

body > .karart {
    background-color: rgba(0,0,0,.85);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998
}

@media only screen and (min-width: 1000px) {
    body > .karart {
        display: none
    }
}

article,
aside,
details,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0
}

h1 {
    font-size: 30px
}

h2 {
    font-size: 27px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 21px
}

h5 {
    font-size: 18px
}

h6 {
    font-size: 15px
}

@media only screen and (min-width: 800px) {
    h1 {
        font-size: 43px
    }
    h2 {
        font-size: 38px
    }
    h3 {
        font-size: 33px
    }
    h4 {
        font-size: 28px
    }
    h5 {
        font-size: 22px
    }
}

@media only screen and (min-width: 1200px) {
    h1 {
        font-size: 66px
    }
    h2 {
        font-size: 56px
    }
    h3 {
        font-size: 46px
    }
    h4 {
        font-size: 36px
    }
    h5 {
        font-size: 26px
    }
    h6 {
        font-size: 16px
    }
}

a {
    background-color: transparent;
    color: #2196F3;
    text-decoration: none
}

a:hover {
    color: #000;
    outline: 0;
    text-decoration: underline
}

b,
strong {
    font-weight: 700
}

i,
em {
    font-style: italic
}

p {
    margin-bottom: 10px;
    margin-top: 0
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style-type: none
}

img {
    border: 0;
    max-width: 100%
}

input,
button,
select,
textarea {
    margin: 0
}

pre,
code {
    margin: 0;
    padding: 10px 20px
}

pre {
    background-color: #f5f2f0;
    border:1px solid rgba(0,0,0,.12);
    border-radius: 3px;
    overflow-y: auto
}

code {
    white-space: pre-wrap
}

/* ============= 1.1 Tablolar */

table {
    border-collapse: collapse;
    border-spacing: 0;
    margin-bottom: 10px;
    max-width: 100%;
    width: 100%
}

table th,
table td {
    border: 1px solid rgba(0,0,0,.05);
    padding: 15px
}

table th {
    background-color: rgba(0,0,0,.05);
    border-left: 1px solid rgba(0,0,0,.1);
    border-right: 1px solid rgba(0,0,0,.1);
    border-top: 1px solid rgba(0,0,0,.1);
    border-bottom: 0px;
    text-align: left
}

table.renkli tr:nth-child(odd) {
    background-color: rgba(0,0,0,.05)
}

table.vurgu tr:hover td {
    background-color: rgba(0,0,0,.075);
    transition: all .3s
}

table.saydam th {
    background-color: transparent
}

table.saydam th,
table.saydam td {
    border:0
}

table.saydam tr:first-of-type th {
    border-bottom: 1px solid rgba(0, 0, 0, .1)
}

table.yazi-ortala tr th {
    text-align: center
}

table.yazi-sag tr th {
    text-align: right
}

/* ============= 2. Grid Kodlari  */

.container,
.container-kucuk,
.container-buyuk {
    display: block;
    margin: 0 auto
}

/* Mobil Cihazlar */
.container {
    width: 85%
}

.container-kucuk {
    width: 70%
}

.container-buyuk {
    width: 100%
}

/* Mini Tabletler */
@media only screen and (min-width: 400px) {
    .container {
        width: 80%
    }
    .container-kucuk {
        width: 60%
    }
    .container-buyuk {
        width: 95%
    }
}

/* Tabletler */
@media only screen and (min-width: 800px) {
    .container {
        width: 75%
    }
    .container-kucuk {
        width: 50%
    }
    .container-buyuk {
        width: 90%
    }
}

/* Bilgisayarlar */
@media only screen and (min-width: 1000px) {
    .container {
        width: 70%
    }
    .container-kucuk {
        width: 40%
    }
    .container-buyuk {
        width: 85%
    }
}

/* Yuksek Cozunurlukler */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1250px;
        width: 65%
    }
    .container-kucuk {
        max-width: 1000px;
        width: 30%
    }
    .container-buyuk {
        max-width: 1500px;
        width: 80%
    }
}

.container:before,
.container:after,
.container-kucuk:before,
.container-kucuk:after,
.container-buyuk:before,
.container-buyuk:after {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

.row:before,
.row:after {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.row .tr {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative
}

/* Mobil Cihazlar */
.row .tr.ck1 {
    width: 8.3333333333%
}

.row .tr.ck2 {
    width: 16.6666666667%
}

.row .tr.ck3 {
    width: 25%
}

.row .tr.ck4 {
    width: 33.3333333333%
}

.row .tr.ck5 {
    width: 41.6666666667%
}

.row .tr.ck6 {
    width: 50%
}

.row .tr.ck7 {
    width: 58.3333333333%
}

.row .tr.ck8 {
    width: 66.6666666667%
}

.row .tr.ck9 {
    width: 75%
}

.row .tr.ck10 {
    width: 83.3333333333%
}

.row .tr.ck11 {
    width: 91.6666666667%
}

.row .tr.ck12 {
    width: 100%
}
.row .tr.ck-1 {
    margin-left: 8.3333333333%
}
.row .tr.ck-2 {
    margin-left: 16.6666666667%
}
.row .tr.ck-3 {
    margin-left: 25%
}
.row .tr.ck-4 {
    margin-left: 33.3333333333%
}
.row .tr.ck-5 {
    margin-left: 41.6666666667%
}
.row .tr.ck-6 {
    margin-left: 50%
}
.row .tr.ck-7 {
    margin-left: 58.3333333333%
}
.row .tr.ck-8 {
    margin-left: 66.6666666667%
}
.row .tr.ck-9 {
    margin-left: 75%
}
.row .tr.ck-10 {
    margin-left: 83.3333333333%
}
.row .tr.ck-11 {
    margin-left: 91.6666666667%
}
.row .tr.ck-12 {
    margin-left: 100%
}

/* Mini Tabletler */
@media only screen and (min-width: 400px) {
    .row .tr.k1 {
        width: 8.3333333333%
    }
    .row .tr.k2 {
        width: 16.6666666667%
    }
    .row .tr.k3 {
        width: 25%
    }
    .row .tr.k4 {
        width: 33.3333333333%
    }
    .row .tr.k5 {
        width: 41.6666666667%
    }
    .row .tr.k6 {
        width: 50%
    }
    .row .tr.k7 {
        width: 58.3333333333%
    }
    .row .tr.k8 {
        width: 66.6666666667%
    }
    .row .tr.k9 {
        width: 75%
    }
    .row .tr.k10 {
        width: 83.3333333333%
    }
    .row .tr.k11 {
        width: 91.6666666667%
    }
    .row .tr.k12 {
        width: 100%
    }
    .row .tr.k-1 {
        margin-left: 8.3333333333%
    }
    .row .tr.k-2 {
        margin-left: 16.6666666667%
    }
    .row .tr.k-3 {
        margin-left: 25%
    }
    .row .tr.k-4 {
        margin-left: 33.3333333333%
    }
    .row .tr.k-5 {
        margin-left: 41.6666666667%
    }
    .row .tr.k-6 {
        margin-left: 50%
    }
    .row .tr.k-7 {
        margin-left: 58.3333333333%
    }
    .row .tr.k-8 {
        margin-left: 66.6666666667%
    }
    .row .tr.k-9 {
        margin-left: 75%
    }
    .row .tr.k-10 {
        margin-left: 83.3333333333%
    }
    .row .tr.k-11 {
        margin-left: 91.6666666667%
    }
    .row .tr.k-12 {
        margin-left: 100%
    }
}

/* Tabletler */
@media only screen and (min-width: 800px) {
    .row .tr.o1 {
        width: 8.3333333333%
    }
    .row .tr.o2 {
        width: 16.6666666667%
    }
    .row .tr.o3 {
        width: 25%
    }
    .row .tr.o4 {
        width: 33.3333333333%
    }
    .row .tr.o5 {
        width: 41.6666666667%
    }
    .row .tr.o6 {
        width: 50%
    }
    .row .tr.o7 {
        width: 58.3333333333%
    }
    .row .tr.o8 {
        width: 66.6666666667%
    }
    .row .tr.o9 {
        width: 75%
    }
    .row .tr.o10 {
        width: 83.3333333333%
    }
    .row .tr.o11 {
        width: 91.6666666667%
    }
    .row .tr.o12 {
        width: 100%
    }
    .row .tr.o-1 {
        margin-left: 8.3333333333%
    }
    .row .tr.o-2 {
        margin-left: 16.6666666667%
    }
    .row .tr.o-3 {
        margin-left: 25%
    }
    .row .tr.o-4 {
        margin-left: 33.3333333333%
    }
    .row .tr.o-5 {
        margin-left: 41.6666666667%
    }
    .row .tr.o-6 {
        margin-left: 50%
    }
    .row .tr.o-7 {
        margin-left: 58.3333333333%
    }
    .row .tr.o-8 {
        margin-left: 66.6666666667%
    }
    .row .tr.o-9 {
        margin-left: 75%
    }
    .row .tr.o-10 {
        margin-left: 83.3333333333%
    }
    .row .tr.o-11 {
        margin-left: 91.6666666667%
    }
    .row .tr.o-12 {
        margin-left: 100%
    }
}

/* Bilgisayarlar */
@media only screen and (min-width: 1000px) {
    .row .tr.b1 {
        width: 8.3333333333%
    }
    .row .tr.b2 {
        width: 16.6666666667%
    }
    .row .tr.b3 {
        width: 25%
    }
    .row .tr.b4 {
        width: 33.3333333333%
    }
    .row .tr.b5 {
        width: 41.6666666667%
    }
    .row .tr.b6 {
        width: 50%
    }
    .row .tr.b7 {
        width: 58.3333333333%
    }
    .row .tr.b8 {
        width: 66.6666666667%
    }
    .row .tr.b9 {
        width: 75%
    }
    .row .tr.b10 {
        width: 83.3333333333%
    }
    .row .tr.b11 {
        width: 91.6666666667%
    }
    .row .tr.b12 {
        width: 100%
    }
    .row .tr.b-1 {
        margin-left: 8.3333333333%
    }
    .row .tr.b-2 {
        margin-left: 16.6666666667%
    }
    .row .tr.b-3 {
        margin-left: 25%
    }
    .row .tr.b-4 {
        margin-left: 33.3333333333%
    }
    .row .tr.b-5 {
        margin-left: 41.6666666667%
    }
    .row .tr.b-6 {
        margin-left: 50%
    }
    .row .tr.b-7 {
        margin-left: 58.3333333333%
    }
    .row .tr.b-8 {
        margin-left: 66.6666666667%
    }
    .row .tr.b-9 {
        margin-left: 75%
    }
    .row .tr.b-10 {
        margin-left: 83.3333333333%
    }
    .row .tr.b-11 {
        margin-left: 91.6666666667%
    }
    .row .tr.b-12 {
        margin-left: 100%
    }
}

/* Yuksek Cozunurlukler */
@media only screen and (min-width: 1200px) {
    .row .tr.cb1 {
        width: 8.3333333333%
    }
    .row .tr.cb2 {
        width: 16.6666666667%
    }
    .row .tr.cb3 {
        width: 25%
    }
    .row .tr.cb4 {
        width: 33.3333333333%
    }
    .row .tr.cb5 {
        width: 41.6666666667%
    }
    .row .tr.cb6 {
        width: 50%
    }
    .row .tr.cb7 {
        width: 58.3333333333%
    }
    .row .tr.cb8 {
        width: 66.6666666667%
    }
    .row .tr.cb9 {
        width: 75%
    }
    .row .tr.cb10 {
        width: 83.3333333333%
    }
    .row .tr.cb11 {
        width: 91.6666666667%
    }
    .row .tr.cb12 {
        width: 100%
    }
    .row .tr.cb-1 {
        margin-left: 8.3333333333%
    }
    .row .tr.cb-2 {
        margin-left: 16.6666666667%
    }
    .row .tr.cb-3 {
        margin-left: 25%
    }
    .row .tr.cb-4 {
        margin-left: 33.3333333333%
    }
    .row .tr.cb-5 {
        margin-left: 41.6666666667%
    }
    .row .tr.cb-6 {
        margin-left: 50%
    }
    .row .tr.cb-7 {
        margin-left: 58.3333333333%
    }
    .row .tr.cb-8 {
        margin-left: 66.6666666667%
    }
    .row .tr.cb-9 {
        margin-left: 75%
    }
    .row .tr.cb-10 {
        margin-left: 83.3333333333%
    }
    .row .tr.cb-11 {
        margin-left: 91.6666666667%
    }
    .row .tr.cb-12 {
        margin-left: 100%
    }
}

/* ============= 3. Yardimci Kodlar =============== */

.sol {
    float: left !important
}

.sag {
    float: right !important
}

.ortala {
    display: block !important;
    float: none;
    margin-left: auto;
    margin-right: auto
}

.yuvarlak {
    border-radius: 50% !important
}

.gizle {
    display: none !important
}

@media only screen and (max-width: 400px) {
    .gizle-ck {
        display: none
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    .gizle-k {
        display: none
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .gizle-o {
        display: none
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .gizle-b {
        display: none
    }
}

@media only screen and (min-width: 1200px) {
    .gizle-cb {
        display: none
    }
}

.cizgi {
    background-color: #eee;
    height: 1px;
    margin: 25px auto;
    text-align: center;
    width: 99%
}

.cizgi img {
    background-color: #FFF;
    bottom: 17px;
    height: 35px;
    padding: 5px 10px;
    position: relative;
    width: auto
}
.cizgi a,
.cizgi h1,
.cizgi h2,
.cizgi h3,
.cizgi h4,
.cizgi h5,
.cizgi h6,
.cizgi p,
.cizgi span {
    background-color: #FFF;
    bottom: 13px;
    color: #000;
    display: inline-block;
    font-size: 15px;
    margin: 0;
    padding: 5px;
    position: relative
}

.temizle {
    clear: both
}

/* ============= 4. Yazi Stili */

@font-face {
    font-family: "Roboto";
    src: url(../fonts/Roboto.ttf)
}

/* ============= 5. Arkaplanlar */
/* ============= 5.1 Arkaplan Desenleri */

.desen,
.desen1 {
    background-image: url("../img/desen.png")
}

.desen2 {
    background-image: url("../img/desen2.png")
}

.desen3 {
    background-image: url("../img/desen3.png")
}

.desen4 {
    background-image: url("../img/desen4.png")
}

.desen5 {
    background-image: url("../img/desen5.png")
}

.desen6 {
    background-image: url("../img/desen6.png")
}

.desen7 {
    background-image: url("../img/desen7.png")
}

.desen8 {
    background-image: url("../img/desen8.png")
}

.desen9 {
    background-image: url("../img/desen9.png")
}

.desen10 {
    background-image: url("../img/desen10.png")
}

/* ============= 5.2 Arkaplan Renkleri */

.beyaz {
    background-color: #FFF !important
}

.sari,
.sari6 {
    background-color: #FFEB3B !important
}

.sari2 {
    background-color: #FFF9C4 !important
}

.sari3 {
    background-color: #FFF59D !important
}

.sari4 {
    background-color: #FFF176 !important
}

.sari5 {
    background-color: #FFEE58 !important
}

.sari7 {
    background-color: #FDD835 !important
}

.sari8 {
    background-color: #FBC02D !important
}

.sari9 {
    background-color: #F9A825 !important
}

.sari10 {
    background-color: #F57F17 !important
}

.turuncu,
.turuncu6 {
    background-color: #FF9800 !important
}

.turuncu2 {
    background-color: #FFE0B2 !important
}

.turuncu3 {
    background-color: #FFCC80 !important
}

.turuncu4 {
    background-color: #FFB74D !important
}

.turuncu5 {
    background-color: #FFA726 !important
}

.turuncu7 {
    background-color: #FB8C00 !important
}

.turuncu8 {
    background-color: #F57C00 !important
}

.turuncu9 {
    background-color: #EF6C00 !important
}

.turuncu10 {
    background-color: #E65100 !important
}

.kirmizi,
.kirmizi6 {
    background-color: #F44336 !important
}

.kirmizi2 {
    background-color: #FFCDD2 !important
}

.kirmizi3 {
    background-color: #EF9A9A !important
}

.kirmizi4 {
    background-color: #E57373 !important
}

.kirmizi5 {
    background-color: #EF5350 !important
}

.kirmizi7 {
    background-color: #E53935 !important
}

.kirmizi8 {
    background-color: #D32F2F !important
}

.kirmizi9 {
    background-color: #C62828 !important
}

.kirmizi10 {
    background-color: #B71C1C !important
}

.pembe,
.pembe6 {
    background-color: #E91E63 !important
}

.pembe2 {
    background-color: #F8BBD0 !important
}

.pembe3 {
    background-color: #F48FB1 !important
}

.pembe4 {
    background-color: #F06292 !important
}

.pembe5 {
    background-color: #EC407A !important
}

.pembe7 {
    background-color: #D81B60 !important
}

.pembe8 {
    background-color: #C2185B !important
}

.pembe9 {
    background-color: #AD1457 !important
}

.pembe10 {
    background-color: #880E4F !important
}

.mor,
.mor6 {
    background-color: #9C27B0 !important
}

.mor2 {
    background-color: #E1BEE7 !important
}

.mor3 {
    background-color: #CE93D8 !important
}

.mor4 {
    background-color: #BA68C8 !important
}

.mor5 {
    background-color: #AB47BC !important
}

.mor7 {
    background-color: #8E24AA !important
}

.mor8 {
    background-color: #7B1FA2 !important
}

.mor9 {
    background-color: #6A1B9A !important
}

.mor10 {
    background-color: #4A148C !important
}

.mavi,
.mavi6 {
    background-color: #2196F3 !important
}

.mavi2 {
    background-color: #BBDEFB !important
}

.mavi3 {
    background-color: #90CAF9 !important
}

.mavi4 {
    background-color: #64B5F6 !important
}

.mavi5 {
    background-color: #42A5F5 !important
}

.mavi7 {
    background-color: #1E88E5 !important
}

.mavi8 {
    background-color: #1976D2 !important
}

.mavi9 {
    background-color: #1565C0 !important
}

.mavi10 {
    background-color: #0D47A1 !important
}

.turkuaz,
.turkuaz6 {
    background-color: #1AC5B8 !important
}

.turkuaz2 {
    background-color: #C1FDF8 !important
}

.turkuaz3 {
    background-color: #56F7EB !important
}

.turkuaz4 {
    background-color: #36EADD !important
}

.turkuaz5 {
    background-color: #2ED8CB !important
}

.turkuaz7 {
    background-color: #12B9AC !important
}

.turkuaz8 {
    background-color: #0CAB9E !important
}

.turkuaz9 {
    background-color: #03968A !important
}

.turkuaz10 {
    background-color: #038075 !important
}

.yesil,
.yesil6  {
    background-color: #4CAF50 !important
}

.yesil2 {
    background-color: #C8E6C9 !important
}

.yesil3 {
    background-color: #A5D6A7 !important
}

.yesil4 {
    background-color: #81C784 !important
}

.yesil5 {
    background-color: #66BB6A !important
}

.yesil7 {
    background-color: #43A047 !important
}

.yesil8 {
    background-color: #388E3C !important
}

.yesil9 {
    background-color: #2E7D32 !important
}

.yesil10 {
    background-color: #1B5E20 !important
}

.kahverengi,
.kahverengi6 {
    background-color: #795548 !important
}

.kahverengi2 {
    background-color: #D7CCC8 !important
}

.kahverengi3 {
    background-color: #BCAAA4 !important
}

.kahverengi4 {
    background-color: #A1887F !important
}

.kahverengi5 {
    background-color: #8D6E63 !important
}

.kahverengi7 {
    background-color: #6D4C41 !important
}

.kahverengi8 {
    background-color: #5D4037 !important
}

.kahverengi9 {
    background-color: #4E342E !important
}

.kahverengi10 {
    background-color: #3E2723 !important
}

.gri,
.gri6 {
    background-color: #9E9E9E !important
}

.gri2 {
    background-color: #F5F5F5 !important
}

.gri3 {
    background-color: #EEEEEE !important
}

.gri4 {
    background-color: #E0E0E0 !important
}

.gri5 {
    background-color: #BDBDBD !important
}

.gri7 {
    background-color: #757575 !important
}

.gri8 {
    background-color: #616161 !important
}

.gri9 {
    background-color: #4E4E4E !important
}

.gri10 {
    background-color: #424040 !important
}

.siyah {
    background-color: #000 !important
}

/* ============= 6. Buton */
/* ============= 6.1 Buton Ayarlari */

.buton.saydam,
button.saydam {
    background-color: transparent !important;
    box-shadow: none !important;
    color: #000
}

.buton.saydam:hover,
button.saydam:hover {
    box-shadow: inset 0 0 0 0 transparent !important;
    color: #000
}

.buton.pasif,
button.pasif {
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: rgba(0,0,0,.4) !important;
    cursor:default
}

.buton.pasif:hover,
button.pasif:hover {
    background-color: #DFDFDF !important;
    box-shadow: inset 0 0 0 0 transparent !important;
    color: rgba(0,0,0,.4) !important;
    cursor:default
}

.buton.golge,
button.golge {
    box-shadow: 0 2px 1px rgba(0,0,0,.1), 0 1px 3px rgba(0,0,0,.3)
}

.buton.golge:hover,
button.golge:hover {
    box-shadow: 0 2px 3px rgba(0,0,0,0.1), 0 4px 8px rgba(0,0,0,0.3)
}

.buton.yuvarlak,
button.yuvarlak {
    padding: 20px !important
}

.buton.yuvarlak.kucuk,
button.yuvarlak.kucuk {
    padding: 15px !important
}

.buton.yuvarlak.buyuk,
button.yuvarlak.buyuk {
    padding: 30px !important
}

.buton.yay,
button.yay {
    width: 100%;
}

/* ============= 6.2 Buton Cesitleri */

.buton,
button {
    background-color: #1AC5B8;
    border: none;
    border-radius: 3px;
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Roboto";
    font-size: 12px;
    font-weight: normal;
    height: 40px;
    letter-spacing: 1.5px;
    line-height: 20px;
    outline: 0;
    overflow: hidden;
    padding: 10px 25px;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    transition: all .3s
}

.buton.kucuk {
    height: 30px;
    line-height: 10px;
    padding: 10px 15px
}

.buton.buyuk {
    height: 60px;
    line-height: 40px
}

.buton:hover,
button:hover {
    box-shadow: inset 0 0 0 100px rgba(0,0,0,.15);
    color: #FFF;
    text-decoration: none
}

/* ============= 6.3 Buton Efektleri */

.buton[class*="efekt"] {
    overflow: hidden;
    position: relative
}

.buton[class*="efekt"]::before {
    background: #fff;
    content: "";
    opacity: .25;
    position: absolute;
    transition: all .3s
}

.buton.efekt:before,
.buton.efekt1:before {
    height: 150px;
    left: -70px;
    top: -40px;
    transform: rotate(37deg);
    width: 50px
}

.buton.efekt:hover:before,
.buton.efekt1:hover:before {
    left: 99%
}

.buton.efekt2:before {
    height: 150px;
    left: 99%;
    top: -40px;
    transform: rotate(37deg);
    width: 50px
}

.buton.efekt2:hover:before {
    left: -72px
}

.buton.efekt3:before {
    bottom: 0;
    height: 100%;
    left: 0;
    width: 0
}

.buton.efekt3:hover:before {
    width: 100%
}

.buton.efekt4:before {
    bottom: 0;
    height: 100%;
    left: 100%;
    width: 0
}

.buton.efekt4:hover:before {
    left: 0;
    width: 100%
}

.buton.efekt5:before {
    height: 0;
    left: 0;
    top: 0;
    width: 100%
}

.buton.efekt5:hover:before {
    height: 100%
}

.buton.efekt6:before {
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%
}

.buton.efekt6:hover:before {
    height: 100%
}

/* ============= 7. Form */
/* ============= 7.1 Checkbox */

[type=checkbox]:not(:checked), [type=checkbox]:checked {
    left: -9999px;
    opacity: 0;
    position: absolute
}

[type=checkbox] {
    box-sizing: border-box;
    padding: 0
}

[type=checkbox] + label {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    min-width: 50px;
    padding: 0 25px;
    position: relative
}

.tr [type=checkbox]:last-of-type + label {
    margin-bottom: 15px
}

[type=checkbox]:checked + label:before {
    backface-visibility: hidden;
    border-color: #1AC5B8;
    border-top-color: transparent;
    border-left-color: transparent;
    height: 22px;
    left: -5px;
    top: -4px;
    transform: rotate(40deg);
    transform-origin: 100% 100%;
    width: 12px
}

[type=checkbox] + label:before, [type=checkbox]:not(.filled-in) + label:after {
    border: 2px solid #000;
    border-radius: 1px;
    content: "";
    height: 18px;
    margin-top: 3px;
    left: 0;
    position: absolute;
    top: 0;
    transition: .2s;
    width: 18px;
    z-index: 0
}

[type=checkbox]:not(.filled-in) + label:after {
    border: 0;
    transform: scale(0)
}

/* ============= 7.2 Dosya Secici */
/* ============= 7.3 Input */

[type=text],
[type=password],
[type=email],
[type=url],
[type=date],
[type=tel],
[type=number],
[type=search] {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #eee;
    box-sizing: content-box;
    display: block;
    font-family: "Roboto";
    font-size: 16px;
    height: 32px;
    letter-spacing: .5px;
    line-height: 16px;
    margin-bottom: 15px;
    outline: none;
    position: relative;
    transition: all .3s;
    width: 100%
}

[type=text].aktif,
[type=password].aktif,
[type=email].aktif,
[type=url].aktif,
[type=date].aktif,
[type=tel].aktif,
[type=number].aktif,
[type=search].aktif {
    border-bottom: 2px solid #1AC5B8
}

[type=text] + label,
[type=password] + label,
[type=email] + label,
[type=url] + label,
[type=date] + label,
[type=tel] + label,
[type=number] + label,
[type=search] + label {
    color: #1AC5B8;
    cursor: auto;
    display: block;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    pointer-events: none;
    position: relative;
    transform: translateY(-42px);
    transform-origin: 0 50%;
    transition: all .3s
}

[type=text].aktif + label,
[type=password].aktif + label,
[type=email].aktif + label,
[type=url].aktif + label,
[type=date].aktif + label,
[type=tel].aktif + label,
[type=number].aktif + label,
[type=search].aktif + label {
    color: #057970
}

[type=text].dolu + label,
[type=password].dolu + label,
[type=email].dolu + label,
[type=url].dolu + label,
[type=date].dolu + label,
[type=tel].dolu + label,
[type=number].dolu + label,
[type=search].dolu + label {
    transform: translateY(-64px) scale(.75) !important
}

/* ============= 7.4 Radio Buton */

[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=radio]:not(:checked), [type=radio]:checked {
    left: -9999px;
    opacity: 0;
    position: absolute
}

[type=radio] + label {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    padding: 0 15px 0 25px;
    position: relative
}

.tr [type=radio]:last-of-type + label {
    margin-bottom: 15px
}

[type=radio]:checked + label:before {
    backface-visibility: hidden;
    background-color: #1AC5B8;
    height: 18px;
    left: 0;
    top: 0;
    transform-origin: 100% 100%;
    width: 18px
}

[type=radio] + label:before, [type=radio]:not(.filled-in) + label:after {
    border: 2px solid #000;
    border-radius: 50%;
    content: "";
    height: 18px;
    margin-top: 3px;
    left: 0;
    position: absolute;
    top: 0;
    transition: .2s;
    width: 18px;
    z-index: 0
}

[type=radio]:not(.filled-in) + label:after {
    border: 0;
    transform: scale(0)
}

/* ============= 7.5 Select */

select {
    background-color: rgba(255,255,255,.85);
    border:1px solid #f2f2f2;
    border-radius: 2px;
    display: block;
    height: 40px;
    margin-bottom: 15px;
    outline: none;
    letter-spacing: .3px;
    padding: 0 50px 0 10px;
    width: 100%
}

/* ============= 7.6 Tarih Secici */

[type=date] + label {
    transform: translateY(-64px) scale(.75) !important
}

/* ============= 7.7 Textarea */

textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #eee;
    box-sizing: content-box;
    display: block;
    font-family: "Roboto";
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 16px;
    margin: 15px 0;
    min-height: 50px;
    outline: none;
    position: relative;
    resize: none;
    transition: all .3s;
    width: 100%
}

textarea.aktif {
    border-bottom: 2px solid #1AC5B8
}

textarea + label {
    color: #1AC5B8;
    cursor: auto;
    display: block;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    pointer-events: none;
    position: relative;
    transform: translateY(-65px);
    transform-origin: 0 50%;
    transition: all .3s
}

textarea.aktif + label {
    color: #057970
}

textarea.dolu + label {
    transform: translateY(-90px) scale(.75) !important
}

/* ============= 8. Footer */

footer {
    background-color: #1AC5B8;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    color: #FFF;
    padding: 25px 0 50px 0;
    position: relative;
    width: 100%
}

footer .detay {
    background-color: rgba(0,0,0,.3);
    padding: 15px 0;
    position: relative;
    top: 50px;
    width: 100%
}

/* ============= 9. Kartlar */
/* ============= 9.1 Kart Ayarlari */

.kart.golge {
    border: 0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.4);
    transition: all .3s
}

.kart.golge:hover {
    box-shadow: 0 3px 20px 0 rgba(0,0,0,.4)
}

/* ============= 9.2 Kart Boyutlari */

.kart {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    height: 400px;
    margin-bottom: 25px;
    position: relative;
    width: 100%
}

.kart.kucuk {
    height: 300px
}

.kart.buyuk {
    height: 500px
}

.kart > .resim {
    height: 200px;
    overflow: hidden;
    width: 100%
}

.kart.kucuk > .resim {
    height: 125px
}

.kart.buyuk > .resim {
    height: 248px
}

.kart > .resim img {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
    height: 100%;
    transition: all .4s;
    width: 100%
}

.kart .icerik {
    height: 150px;
    overflow: hidden;
    padding: 10px 15px 0 15px
}

.kart.kucuk .icerik {
    height: 114px
}

.kart.buyuk .icerik {
    height: 190px
}

@media only screen and (min-width: 800px) {
    .kart .icerik {
        padding: 15px 25px 0 25px
    }
    .kart.kucuk .icerik {
        padding: 10px 20px 0 20px
    }
}

.kart .icerik h1,
.kart .icerik h2,
.kart .icerik h3,
.kart .icerik h4,
.kart .icerik h5,
.kart .icerik h6 {
    font-size: 22px;
    margin-top: 0
}

.kart .icerik h1 a,
.kart .icerik h2 a,
.kart .icerik h3 a,
.kart .icerik h4 a,
.kart .icerik h5 a,
.kart .icerik h6 a,
.kart .icerik a h1,
.kart .icerik a h2,
.kart .icerik a h3,
.kart .icerik a h4,
.kart .icerik a h5,
.kart .icerik a h6 {
    color: #000
}

.kart .icerik p {
    font-size: 14px;
    height: 100px;
    line-height: 24px;
    overflow: hidden
}

.kart.kucuk .icerik p {
    height: 70px
}

.kart.buyuk .icerik p {
    height: 150px
}

.kart .icerik::after {
    background-color: rgba(0,0,0,.05);
    content: "";
    height: 1px;
    left: 0;
    position: absolute;
    top: 350px;
    width: 100%
}

.kart.kucuk .icerik::after {
    top: 251px
}

.kart.buyuk .icerik::after {
    top: 450px
}

.kart .detay {
    font-size: 12px;
    height: 50px;
    line-height: 50px
}

.kart.kucuk .detay,
.kart.buyuk .detay {
    margin-top: 13px
}

.kart .detay a.buton {
    display: block;
    height: 48px;
    line-height: 26px
}

.kart .detay div:last-of-type {
    float: right;
    margin-right: 15px
}

.kart .detay div:first-of-type {
    float: left;
    margin-left: 15px
}

@media only screen and (min-width: 800px) {
    .kart .detay div:last-of-type {
        margin-right: 25px
    }
    .kart .detay div:first-of-type {
        margin-left: 25px
    }
}

/* ============= 9.3 Kart Efektleri */

/* Yakinlastirma */
.kart.efekt1 > .resim img {
    transform: scale(1)
}

.kart.efekt1 > .resim img:hover {
    transform: scale(1.3)
}

/* Uzaklastirma */
.kart.efekt2 > .resim img {
    transform: scale(1.3)
}

.kart.efekt2 > .resim img:hover {
    transform: scale(1)
}

/* Sola Gecer */
.kart.efekt3 > .resim img {
    margin-left: 30px;
    transform: scale(1.2)
}

.kart.efekt3 > .resim img:hover {
    margin-left: 0
}

/* Saga Gecer */
.kart.efekt4 > .resim img {
    margin-left: -30px;
    transform: scale(1.2)
}

.kart.efekt4 > .resim img:hover {
    margin-left: 0
}

/* Capraz Yakinlastirir */
.kart.efekt5 > .resim img {
    transform: rotate(0) scale(1)
}

.kart.efekt5 > .resim img:hover {
    transform: rotate(15deg) scale(1.52)
}

/* Siyah Beyaz */
.kart.efekt6 > .resim img {
    opacity: .95;
    -webkit-filter: grayscale(100%)
}

.kart.efekt6 > .resim img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%)
}

/* Renklendirir */
.kart.efekt7 > .resim img {
    opacity: 1;
    -webkit-filter: grayscale(0%)
}

.kart.efekt7 > .resim img:hover {
    opacity: .95;
    -webkit-filter: grayscale(100%)
}

/* Bulaniklastirir */
.kart.efekt8 > .resim img {
    -webkit-filter: blur(1px)
}

.kart.efekt8 > .resim img:hover {
    -webkit-filter: blur(0)
}

/* Netlestirir */
.kart.efekt9 > .resim img {
    -webkit-filter: blur(0)
}

.kart.efekt9 > .resim img:hover {
    -webkit-filter: blur(1px)
}

/* ============= 10. Nav */
/* ============= 10.1 Etiket */

nav.etiket {
    display: table;
    margin-bottom: 15px
}

nav.etiket a {
    background: #f5f5f5;
    border-radius: 3px 0 0 3px;
    color: rgba(0,0,0,.6);
    display: inline-block;
    font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin: 0 10px 15px 0;
    padding: 0 20px 0 23px;
    position: relative;
    text-decoration: none;
    transition: color .1s
}

nav.etiket.kucuk a {
    font-size: 11px;
    height: 24px;
    line-height: 24px
}

nav.etiket.buyuk a {
    font-size: 15px;
    height: 40px;
    line-height: 40px
}

nav.etiket a::before {
    background: #FFF;
    border-radius: 10px;
    box-shadow: 0 0 2px rgba(0,0,0,.25);
    content: "";
    height: 6px;
    left: 10px;
    position: absolute;
    top: 11px;
    width: 6px
}

nav.etiket.kucuk a::before {
    top: 8px
}

nav.etiket.buyuk a::before {
    top: 16px
}

nav.etiket a::after {
    background: #fff;
    border-bottom: 15px solid transparent;
    border-left: 10px solid #f5f5f5;
    border-top: 15px solid transparent;
    content: "";
    position: absolute;
    right: 0;
    top: 0
}

nav.etiket.kucuk a::after {
    border-bottom: 12px solid transparent;
    border-left: 8px solid #f5f5f5;
    border-top: 12px solid transparent
}

nav.etiket.buyuk a::after {
    border-bottom: 20px solid transparent;
    border-left: 15px solid #f5f5f5;
    border-top: 20px solid transparent
}

nav.etiket a:hover {
    background-color: #1AC5B8;
    color: #FFF
}

nav.etiket a:hover::after {
    border-left-color: #1AC5B8
}

/* ============= 10.2 Menu */

nav.menu {
    background-color: #1AC5B8;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    display: block;
    height: 100%;
    left: -240px;
    position: fixed;
    top: 0;
    width: 240px;
    z-index: 999
}

nav.menu.sabit {
    position: fixed
}

nav.menu ul {
    height: 50px
}

nav.menu ul li {
    float:none;
    position: relative
}

nav.menu ul li.acilir > a::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0,0,0,.2);
    content: "";
    position: absolute;
    right: 23px;
    top: 23px
}

nav.menu ul li a {
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 50px;
    padding: 0 15px;
    transition: all .1s
}

nav.menu ul li:hover > a {
    background-color: rgba(0,0,0,.1);
    color: #FFF;
    text-decoration: none
}

nav.menu ul li a.aktif {
    background-color: rgba(0,0,0,.1)
}

nav.menu ul li ul {
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    display: none;
    position: absolute
}

nav.menu ul li:hover ul {
    display: none
}

nav.menu ul li ul li {
    float: none;
    width: 200px
}

nav.menu ul li ul li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden
}

nav.menu ul li ul li a:hover {
    box-shadow: inset 0 0 100px rgba(0,0,0,.15);
    padding-left: 20px
}

nav.menu > img.logo {
    cursor: pointer;
    display: block;
    height: 50px;
    position: fixed;
    left: 40px;
    top: 20px;
    width: 50px
}
@media only screen and (max-width: 1000px) {
    nav.menu .container {
        width: 100% !important
    }
}

@media only screen and (min-width: 1000px) {
    nav.menu {
        height: 50px;
        left: 0 !important;
        position: relative;
        width: 100%
    }

    nav.menu ul li {
        float: left;
        position: static
    }

    nav.menu ul li:hover ul {
        display: table;
        z-index: 999
    }

    nav.menu ul li.acilir > a::after {
        left:8px;
        position: relative;
        top:10px
    }

    nav.menu > img.logo {
        display: none !important
    }
}

/* ============= 10.3 Sayfa Konumu */

nav.konum {
    background-color: #1AC5B8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: rgba(255,255,255,.6);
    height: 50px;
    line-height: 50px;
    overflow: hidden;
    padding: 0 25px;
    text-overflow: ellipsis;
    white-space: nowrap;
    width: 100%
}

nav.konum.kucuk {
    font-size: 13px;
    height: 30px;
    line-height: 30px
}

nav.konum.buyuk {
    font-size: 20px;
    height: 70px;
    line-height: 70px
}

nav.konum a {
    color: rgba(255,255,255,.6);
    margin-right: 10px
}

nav.konum a:last-of-type {
    color: #FFF
}

nav.konum a::after {
    content: ">";
    margin-left: 10px
}

nav.konum a:last-of-type::after {
    content:""
}

nav.konum a:hover {
    text-decoration: none
}

nav.konum.saydam {
    background-color: transparent !important
}

nav.konum.saydam a {
    color: rgba(0,0,0,.6)
}

nav.konum.saydam a:last-of-type {
    color: #000
}

/* ============= 10.4 Sayfa Numaralandirma */

nav.numara {
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 4px;
    box-shadow: 0 2px 2px rgba(0,0,0,.07);
    display: inline-block;
    margin: 25px 0
}

nav.numara a {
    border-right: 1px solid rgba(0,0,0,.1);
    color: #000;
    display: block;
    float:left;
    padding: 8px 13px 8px 13px;
    text-align: center;
    transition: all .3s
}

nav.numara a:last-of-type {
    border-right: 0
}

nav.numara a.aktif {
    background-color: rgba(0,0,0,.2)
}

nav.numara a:hover {
    box-shadow : inset 0 0 0 100px rgba(0,0,0,.075);
    text-decoration: none
}

nav.numara.buyuk a {
    font-size: 16px;
    padding: 16px 26px 16px 26px
}

nav.numara.kucuk a {
    font-size: 11px;
    padding: 4px 6.5px 4px 6.5px
}

nav.numara.golge {
    border: 0;
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.5)
}

nav.numara.saydam {
    background-color: transparent !important;
    border: 0;
    box-shadow: 0 0 0 0 rgba(0,0,0,0)
}

nav.numara.saydam a {
    border-right: 0px solid #FFF;
}

/* ============= 11. Notlar */

.not {
    background-color: #1AC5B8;
    border: 1px solid rgba(0,0,0,.05);
    border-radius: 3px;
    color: #FFF;
    line-height: 1.6;
    margin-bottom: 15px;
    padding: 20px 50px 20px 20px;
    position: relative;
    width: 100%
}

.not p {
    margin-bottom: 0
}

.not span.kaldir {
    color: #FFF;
    cursor: pointer;
    opacity: .4;
    font-size: 25px;
    position: absolute;
    right: 20px;
    transition: all .3s;
    top: 11px
}

.not:hover span.kaldir {
    opacity: 1
}

.not span.kaldir:hover {
    text-shadow: 0 0 5px rgba(0,0,0,.5)
}

.not.golge {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.5);
    transition: all .3s
}

.not.golge:hover {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.4)
}

.not.saydam {
    background-color: transparent !important;
    color: #000
}

.not.saydam span.kaldir {
    color: #000
}


/* ============= 12. Pano */

.pano {
    background-color: #1AC5B8;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0,0,0,.12);
    margin-bottom: 15px
}

.pano.golge {
    box-shadow: 0 2px 10px 0 rgba(0,0,0,.5);
    transition: all .3s
}

.pano.golge:hover {
    box-shadow: 0 2px 20px 0 rgba(0,0,0,.4)
}

.pano h1,
.pano h2,
.pano h3,
.pano h4,
.pano h5,
.pano h6 {
    color: #FFF;
    font-size: 16px;
    font-weight: 100;
    line-height: 18px;
    margin: 0;
    padding: 10px 15px
}

.pano.kucuk h1,
.pano.kucuk h2,
.pano.kucuk h3,
.pano.kucuk h4,
.pano.kucuk h5,
.pano.kucuk h6 {
    font-size: 13px;
    line-height: 15px;
    padding: 5px 15px
}

.pano.buyuk h1,
.pano.buyuk h2,
.pano.buyuk h3,
.pano.buyuk h4,
.pano.buyuk h5,
.pano.buyuk h6 {
    font-size: 20px;
    line-height: 23px;
    padding: 15px
}

.pano .icerik {
    background-color: #FFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 15px
}

.pano .icerik p {
    margin: 0
}

/* ============= 13. Tab Menu */

/* ============= 14. Yazi */
/* ============= 14.1 Yazi Ayarlari */

.yazi-sol {
    text-align: left !important
}

.yazi-sag {
    text-align: right !important
}

.yazi-ortala {
    text-align: center !important
}

.yazi-golge {
    text-shadow: 3px 3px 3px rgba(0,0,0,.3)
}

.yazi-golge2 {
    text-shadow: 4px 3px 0 #0a9a8f, 9px 8px 0 rgba(0,0,0,.15)
}

.yazi-kalin {
    font-weight: bold
}

.yazi-ince {
    font-weight: 100
}

.yazi-buyukharf {
    text-transform: uppercase
}

.yazi-kucukharf {
    text-transform: lowercase
}

.yazi-basharfbuyuk {
    text-transform: capitalize
}

.yazi-kes {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

/* ============= 14.2 Yazi Boyutlari */

.yazi-cokbuyuk {
    font-size: 40px
}

.yazi-buyuk {
    font-size: 35px
}

.yazi-orta {
    font-size: 30px
}

.yazi-kucuk {
    font-size: 25px
}

.yazi-cokkucuk {
    font-size: 13px
}

@media only screen and (min-width: 1000px) {
    .yazi-cokbuyuk {
        font-size: 100px
    }
    .yazi-buyuk {
        font-size: 75px
    }
    .yazi-orta {
        font-size: 50px
    }
    .yazi-kucuk {
        font-size: 25px
    }
    .yazi-cokkucuk {
        font-size: 17px
    }
}

/* ============= 14.3 Yazi Renkleri */

.yazi-beyaz,
.yazi-beyaz a,
nav.menu.yazi-beyaz ul li a {
    color: #FFF !important
}

.yazi-sari,
.yazi-sari a,
nav.menu.yazi-sari ul li a {
    color: #FFEE58 !important
}

.yazi-sari2,
.yazi-sari2 a,
nav.menu.yazi-sari2 ul li a {
    color: #FFEB3B !important
}

.yazi-sari3,
.yazi-sari3 a,
nav.menu.yazi-sari3 ul li a {
    color: #FDD835 !important
}

.yazi-sari4,
nav.menu.yazi-sari4 ul li a {
    color: #FBC02D !important
}

.yazi-sari5,
.yazi-sari5 a,
nav.menu.yazi-sari5 ul li a {
    color: #F9A825 !important
}

.yazi-turuncu,
.yazi-turuncu a,
nav.menu.yazi-turuncu ul li a {
    color: #FFA726 !important
}

.yazi-turuncu2,
.yazi-turuncu2 a,
nav.menu.yazi-turuncu2 ul li a {
    color: #FF9800 !important
}

.yazi-turuncu3,
.yazi-turuncu3 a,
nav.menu.yazi-turuncu3 ul li a {
    color: #FB8C00 !important
}

.yazi-turuncu4,
.yazi-turuncu4 a,
nav.menu.yazi-turuncu4 ul li a {
    color: #F57C00 !important
}

.yazi-turuncu5,
.yazi-turuncu5 a,
nav.menu.yazi-turuncu5 ul li a {
    color: #EF6C00 !important
}

.yazi-kirmizi,
.yazi-kirmizi a,
nav.menu.yazi-kirmizi ul li a {
    color: #f44336 !important
}

.yazi-kirmizi2,
.yazi-kirmizi2 a,
nav.menu.yazi-kirmizi2 ul li a {
    color: #e53935 !important
}

.yazi-kirmizi3,
.yazi-kirmizi3 a,
nav.menu.yazi-kirmizi3 ul li a {
    color: #d32f2f !important
}

.yazi-kirmizi4,
.yazi-kirmizi4 a,
nav.menu.yazi-kirmizi4 ul li a {
    color: #c62828 !important
}

.yazi-kirmizi5,
.yazi-kirmizi5 a,
nav.menu.yazi-kirmizi5 ul li a {
    color: #b71c1c !important
}

.yazi-pembe,
.yazi-pembe a,
nav.menu.yazi-pembe ul li a {
    color: #E91E63 !important
}

.yazi-pembe2,
.yazi-pembe2 a,
nav.menu.yazi-pembe2 ul li a {
    color: #D81B60 !important
}

.yazi-pembe3,
.yazi-pembe3 a,
nav.menu.yazi-pembe3 ul li a {
    color: #C2185B !important
}

.yazi-pembe4,
.yazi-pembe4 a,
nav.menu.yazi-pembe4 ul li a {
    color: #AD1457 !important
}

.yazi-pembe5,
.yazi-pembe5 a,
nav.menu.yazi-pembe5 ul li a {
    color: #880E4F !important
}

.yazi-mor,
.yazi-mor a,
nav.menu.yazi-mor ul li a {
    color: #9C27B0 !important
}

.yazi-mor2,
.yazi-mor2 a,
nav.menu.yazi-mor2 ul li a {
    color: #8E24AA !important
}

.yazi-mor3,
.yazi-mor3 a,
nav.menu.yazi-mor3 ul li a {
    color: #7B1FA2 !important
}

.yazi-mor4,
.yazi-mor4 a,
nav.menu.yazi-mor4 ul li a {
    color: #6A1B9A !important
}

.yazi-mor5,
.yazi-mor5 a,
nav.menu.yazi-mor5 ul li a {
    color: #4A148C !important
}

.yazi-mavi,
.yazi-mavi a,
nav.menu.yazi-mavi ul li a {
    color: #2196F3 !important
}

.yazi-mavi2,
.yazi-mavi2 a,
nav.menu.yazi-mavi2 ul li a {
    color: #1E88E5 !important
}

.yazi-mavi3,
.yazi-mavi3 a,
nav.menu.yazi-mavi3 ul li a {
    color: #1976D2 !important
}

.yazi-mavi4,
.yazi-mavi4 a,
nav.menu.yazi-mavi4 ul li a {
    color: #1565C0 !important
}

.yazi-mavi5,
.yazi-mavi5 a,
nav.menu.yazi-mavi5 ul li a {
    color: #0D47A1 !important
}

.yazi-turkuaz,
.yazi-turkuaz a,
nav.menu.yazi-turkuaz ul li a {
    color: #1AC5B8 !important
}

.yazi-turkuaz2,
.yazi-turkuaz2 a,
nav.menu.yazi-turkuaz2 ul li a {
    color: #13b4a8 !important
}

.yazi-turkuaz3,
.yazi-turkuaz3 a,
nav.menu.yazi-turkuaz3 ul li a {
    color: #0da196 !important
}

.yazi-turkuaz4,
.yazi-turkuaz4 a,
nav.menu.yazi-turkuaz4 ul li a {
    color: #0a8b81 !important
}

.yazi-turkuaz5,
.yazi-turkuaz5 a,
nav.menu.yazi-turkuaz5 ul li a {
    color: #057970 !important
}

.yazi-yesil,
.yazi-yesil a,
nav.menu.yazi-yesil ul li a {
    color: #4CAF50 !important
}

.yazi-yesil2,
.yazi-yesil2 a,
nav.menu.yazi-yesil2 ul li a {
    color: #43A047 !important
}

.yazi-yesil3,
.yazi-yesil3 a,
nav.menu.yazi-yesil3 ul li a {
    color: #388E3C !important
}

.yazi-yesil4,
.yazi-yesil4 a,
nav.menu.yazi-yesil4 ul li a {
    color: #2E7D32 !important
}

.yazi-yesil5,
.yazi-yesil5 a,
nav.menu.yazi-yesil5 ul li a {
    color: #1B5E20 !important
}

.yazi-kahverengi,
.yazi-kahverengi a,
nav.menu.yazi-kahverengi ul li a {
    color: #795548 !important
}

.yazi-kahverengi2,
.yazi-kahverengi2 a,
nav.menu.yazi-kahverengi2 ul li a {
    color: #6D4C41 !important
}

.yazi-kahverengi3,
.yazi-kahverengi3 a,
nav.menu.yazi-kahverengi3 ul li a {
    color: #5D4037 !important
}

.yazi-kahverengi4,
.yazi-kahverengi4 a,
nav.menu.yazi-kahverengi4 ul li a {
    color: #4E342E !important
}

.yazi-kahverengi5,
.yazi-kahverengi5 a,
nav.menu.yazi-kahverengi5 ul li a {
    color: #3E2723 !important
}

.yazi-gri,
.yazi-gri a,
nav.menu.yazi-gri ul li a {
    color: #B0BEC5 !important
}

.yazi-gri2,
.yazi-gri2 a,
nav.menu.yazi-gri2 ul li a {
    color: #90A4AE !important
}

.yazi-gri3,
.yazi-gri3 a,
nav.menu.yazi-gri3 ul li a {
    color: #607D8B !important
}

.yazi-gri4,
.yazi-gri4 a,
nav.menu.yazi-gri4 ul li a {
    color: #455A64 !important
}

.yazi-gri5,
.yazi-gri5 a,
nav.menu.yazi-gri5 ul li a {
    color: #37474F !important
}

.yazi-siyah,
.yazi-siyah a,
nav.menu.yazi-siyah ul li a {
    color: #000 !important
}
