/*!
* Turkuaz Css v1.0
* www.turkuazcss.com
* MIT Lisansı (https://raw.githubusercontent.com/TurkuazCss/Framework/master/LICENSE)
*/

/*!
*    Turkuaz Css - Kod Duzeni
*
*    1.     Genel Css
*      1.1    Tablolar
*    2.     Grid Sistemi
*    3.     Yardimci Kodlar
*    4.     Yazi Stili
*    5.     Arkaplan
*      5.1    Arkaplan Desenleri
*      5.2    Arkaplan Renkleri
*    6.     Buton
*      6.1    Buton Ayarlari
*      6.2    Buton Cesitleri
*      6.3    Buton Efektleri
*    7. Etiket
*    8.     Form
*      8.1    Anahtarlar
*      8.2    Checkbox
*      8.3    Dosya Secici
*      8.4    Input
*      8.5    Radio Buton
*      8.6    Select
*      8.7    Tarih Secici
*      8.8    Textarea
*    9.     Footer
*    10.    Kartlar
*      10.1   Kart Kodlari
*      10.2   Kart Efektleri
*    11.    Nav
*      11.1   Filtre Menu
*      11.2   Koleksiyonlar
*      11.3   Menu
*      11.4   Sayfa Konumu
*      11.5   Sayfa Numaralandirma
*      11.6   Tab Menu
*    12.    Notlar
*    13.    Pano
*    14.    Yazi
*      14.1   Yazi Ayarlari
*      14.2   Yazi Boyutlari
*      14.3   Yazi Renkleri
*
*/



/* ============= 1. Genel CSS  */

html {
    box-sizing: border-box
}

*,
:before,
:after {
    box-sizing: inherit
}

::selection {
    background-color: #1AC5B8;
    color: #FFF
}

body {
    background-color: #FFF;
    font-family: "Noto Sans", sans-serif;
    font-size: 13px;
    margin: 0;
    letter-spacing: .3px
}

@media only screen and (min-width: 400px) {
    body {
        font-size: 13.5px
    }
}

@media only screen and (min-width: 800px) {
    body {
        font-size: 14px
    }
}

@media only screen and (min-width: 1000px) {
    body {
        font-size: 14.5px
    }
}

@media only screen and (min-width: 1200px) {
    body {
        font-size: 15px
    }
}

body > .karart {
    background-color: rgba(0,0,0,.85);
    height: 100%;
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 998
}

@media only screen and (min-width: 1000px) {
    body > .karart {
        display: none
    }
}

article,
aside,
details,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
    display: block;
    margin: 0;
    padding: 0
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 10px 0
}

h1 {
    font-size: 42px
}

h2 {
    font-size: 32px
}

h3 {
    font-size: 24px
}

h4 {
    font-size: 18px
}

h5 {
    font-size: 14px
}

h6 {
    font-size: 12px
}

a {
    background-color: transparent;
    color: #2196F3;
    text-decoration: none
}

a:hover {
    color: #000;
    outline: 0;
    text-decoration: underline
}

b,
strong {
    font-family: "Noto Sans Bold";
    font-weight: 700
}

i,
em {
    font-family: "Noto Sans Italic";
    font-style: italic
}

p {
    line-height: 2;
    margin-bottom: 10px;
    margin-top: 0
}

ul {
    margin: 0;
    padding: 0
}

li {
    list-style-type: none
}

img {
    border: 0;
    max-width: 100%
}

input,
button,
select,
textarea {
    margin: 0
}

pre,
code {
    margin: 0;
    padding: 10px 20px
}

pre {
    background-color: #f5f2f0;
    border:1px solid rgba(0,0,0,.12);
    border-radius: 3px;
    display: inline-block;
    overflow-y: auto;
    width: 100%
}

code {
    white-space: pre-wrap
}

form {
    display: table;
    width: 100%
}

/* ============= 1.1 Tablolar */

table {
    background-color: #FFF;
    border-collapse: collapse;
    border-spacing: 0;
    display: block;
    font-size: 13px;
    margin: 10px 0;
    overflow-x: auto;
    overflow-y: hidden;
    position: relative;
    width: 100%
}

table tr:last-of-type td {
    border-bottom: 1px solid rgba(0,0,0,.05);
}

table tr td:last-of-type {
    border-right: 1px solid rgba(0,0,0,.05);
}

table tr th {
    background-color: rgba(0,0,0,.02);
    padding: 15px;
    text-align: left;
    width: 100vw
}

table tr td {
    border-left: 1px solid rgba(0,0,0,.05);
    border-top: 1px solid rgba(0,0,0,.05);
    color: #212121;
    padding: 15px;
    width: 100vw
}

table.renkli tr:nth-of-type(odd) {
    background-color: rgba(0,0,0,.02)
}

table.renkli tr th {
    background-color: transparent;
}

table.vurgu tr:hover td {
    background-color: rgba(0,0,0,.025)
}

table::-webkit-scrollbar {
    height: 10px;
    width: 10px;
    background-color: rgba(0,0,0,.05);
}

table::-webkit-scrollbar-track {
    border: 0;
    background-color: transparent;
}

table::-webkit-scrollbar-thumb {
    background-color: rgba(0,0,0,.25);
}

/* ============= 2. Grid Kodlari  */

.container,
.container-kucuk,
.container-buyuk {
    display: block;
    margin: 0 auto
}

/* Mobil Cihazlar */
.container {
    width: 85%
}

.container-kucuk {
    width: 70%
}

.container-buyuk {
    width: 100%
}

/* Mini Tabletler */
@media only screen and (min-width: 400px) {
    .container {
        width: 80%
    }
    .container-kucuk {
        width: 60%
    }
    .container-buyuk {
        width: 95%
    }
}

/* Tabletler */
@media only screen and (min-width: 800px) {
    .container {
        width: 75%
    }
    .container-kucuk {
        width: 50%
    }
    .container-buyuk {
        width: 90%
    }
}

/* Bilgisayarlar */
@media only screen and (min-width: 1000px) {
    .container {
        width: 70%
    }
    .container-kucuk {
        width: 40%
    }
    .container-buyuk {
        width: 85%
    }
}

/* Yuksek Cozunurlukler */
@media only screen and (min-width: 1200px) {
    .container {
        max-width: 1250px;
        width: 65%
    }
    .container-kucuk {
        max-width: 1000px;
        width: 30%
    }
    .container-buyuk {
        max-width: 1500px;
        width: 80%
    }
}

.container:before,
.container:after,
.container-kucuk:before,
.container-kucuk:after,
.container-buyuk:before,
.container-buyuk:after {
    content: " ";
    display: table
}

.container:after {
    clear: both
}

.row:before,
.row:after {
    content: " ";
    display: table
}

.row:after {
    clear: both
}

.row .tr {
    box-sizing: border-box;
    float: left;
    min-height: 1px;
    padding: 0 15px;
    position: relative
}

/* Mobil Cihazlar */
.row .tr.ck1 {
    width: 8.3333333333%
}

.row .tr.ck2 {
    width: 16.6666666667%
}

.row .tr.ck3 {
    width: 25%
}

.row .tr.ck4 {
    width: 33.3333333333%
}

.row .tr.ck5 {
    width: 41.6666666667%
}

.row .tr.ck6 {
    width: 50%
}

.row .tr.ck7 {
    width: 58.3333333333%
}

.row .tr.ck8 {
    width: 66.6666666667%
}

.row .tr.ck9 {
    width: 75%
}

.row .tr.ck10 {
    width: 83.3333333333%
}

.row .tr.ck11 {
    width: 91.6666666667%
}

.row .tr.ck12 {
    width: 100%
}
.row .tr.ck-1 {
    margin-left: 8.3333333333%
}
.row .tr.ck-2 {
    margin-left: 16.6666666667%
}
.row .tr.ck-3 {
    margin-left: 25%
}
.row .tr.ck-4 {
    margin-left: 33.3333333333%
}
.row .tr.ck-5 {
    margin-left: 41.6666666667%
}
.row .tr.ck-6 {
    margin-left: 50%
}
.row .tr.ck-7 {
    margin-left: 58.3333333333%
}
.row .tr.ck-8 {
    margin-left: 66.6666666667%
}
.row .tr.ck-9 {
    margin-left: 75%
}
.row .tr.ck-10 {
    margin-left: 83.3333333333%
}
.row .tr.ck-11 {
    margin-left: 91.6666666667%
}
.row .tr.ck-12 {
    margin-left: 100%
}

/* Mini Tabletler */
@media only screen and (min-width: 400px) {
    .row .tr.k1 {
        width: 8.3333333333%
    }
    .row .tr.k2 {
        width: 16.6666666667%
    }
    .row .tr.k3 {
        width: 25%
    }
    .row .tr.k4 {
        width: 33.3333333333%
    }
    .row .tr.k5 {
        width: 41.6666666667%
    }
    .row .tr.k6 {
        width: 50%
    }
    .row .tr.k7 {
        width: 58.3333333333%
    }
    .row .tr.k8 {
        width: 66.6666666667%
    }
    .row .tr.k9 {
        width: 75%
    }
    .row .tr.k10 {
        width: 83.3333333333%
    }
    .row .tr.k11 {
        width: 91.6666666667%
    }
    .row .tr.k12 {
        width: 100%
    }
    .row .tr.k-1 {
        margin-left: 8.3333333333%
    }
    .row .tr.k-2 {
        margin-left: 16.6666666667%
    }
    .row .tr.k-3 {
        margin-left: 25%
    }
    .row .tr.k-4 {
        margin-left: 33.3333333333%
    }
    .row .tr.k-5 {
        margin-left: 41.6666666667%
    }
    .row .tr.k-6 {
        margin-left: 50%
    }
    .row .tr.k-7 {
        margin-left: 58.3333333333%
    }
    .row .tr.k-8 {
        margin-left: 66.6666666667%
    }
    .row .tr.k-9 {
        margin-left: 75%
    }
    .row .tr.k-10 {
        margin-left: 83.3333333333%
    }
    .row .tr.k-11 {
        margin-left: 91.6666666667%
    }
    .row .tr.k-12 {
        margin-left: 100%
    }
}

/* Tabletler */
@media only screen and (min-width: 800px) {
    .row .tr.o1 {
        width: 8.3333333333%
    }
    .row .tr.o2 {
        width: 16.6666666667%
    }
    .row .tr.o3 {
        width: 25%
    }
    .row .tr.o4 {
        width: 33.3333333333%
    }
    .row .tr.o5 {
        width: 41.6666666667%
    }
    .row .tr.o6 {
        width: 50%
    }
    .row .tr.o7 {
        width: 58.3333333333%
    }
    .row .tr.o8 {
        width: 66.6666666667%
    }
    .row .tr.o9 {
        width: 75%
    }
    .row .tr.o10 {
        width: 83.3333333333%
    }
    .row .tr.o11 {
        width: 91.6666666667%
    }
    .row .tr.o12 {
        width: 100%
    }
    .row .tr.o-1 {
        margin-left: 8.3333333333%
    }
    .row .tr.o-2 {
        margin-left: 16.6666666667%
    }
    .row .tr.o-3 {
        margin-left: 25%
    }
    .row .tr.o-4 {
        margin-left: 33.3333333333%
    }
    .row .tr.o-5 {
        margin-left: 41.6666666667%
    }
    .row .tr.o-6 {
        margin-left: 50%
    }
    .row .tr.o-7 {
        margin-left: 58.3333333333%
    }
    .row .tr.o-8 {
        margin-left: 66.6666666667%
    }
    .row .tr.o-9 {
        margin-left: 75%
    }
    .row .tr.o-10 {
        margin-left: 83.3333333333%
    }
    .row .tr.o-11 {
        margin-left: 91.6666666667%
    }
    .row .tr.o-12 {
        margin-left: 100%
    }
}

/* Bilgisayarlar */
@media only screen and (min-width: 1000px) {
    .row .tr.b1 {
        width: 8.3333333333%
    }
    .row .tr.b2 {
        width: 16.6666666667%
    }
    .row .tr.b3 {
        width: 25%
    }
    .row .tr.b4 {
        width: 33.3333333333%
    }
    .row .tr.b5 {
        width: 41.6666666667%
    }
    .row .tr.b6 {
        width: 50%
    }
    .row .tr.b7 {
        width: 58.3333333333%
    }
    .row .tr.b8 {
        width: 66.6666666667%
    }
    .row .tr.b9 {
        width: 75%
    }
    .row .tr.b10 {
        width: 83.3333333333%
    }
    .row .tr.b11 {
        width: 91.6666666667%
    }
    .row .tr.b12 {
        width: 100%
    }
    .row .tr.b-1 {
        margin-left: 8.3333333333%
    }
    .row .tr.b-2 {
        margin-left: 16.6666666667%
    }
    .row .tr.b-3 {
        margin-left: 25%
    }
    .row .tr.b-4 {
        margin-left: 33.3333333333%
    }
    .row .tr.b-5 {
        margin-left: 41.6666666667%
    }
    .row .tr.b-6 {
        margin-left: 50%
    }
    .row .tr.b-7 {
        margin-left: 58.3333333333%
    }
    .row .tr.b-8 {
        margin-left: 66.6666666667%
    }
    .row .tr.b-9 {
        margin-left: 75%
    }
    .row .tr.b-10 {
        margin-left: 83.3333333333%
    }
    .row .tr.b-11 {
        margin-left: 91.6666666667%
    }
    .row .tr.b-12 {
        margin-left: 100%
    }
}

/* Yuksek Cozunurlukler */
@media only screen and (min-width: 1200px) {
    .row .tr.cb1 {
        width: 8.3333333333%
    }
    .row .tr.cb2 {
        width: 16.6666666667%
    }
    .row .tr.cb3 {
        width: 25%
    }
    .row .tr.cb4 {
        width: 33.3333333333%
    }
    .row .tr.cb5 {
        width: 41.6666666667%
    }
    .row .tr.cb6 {
        width: 50%
    }
    .row .tr.cb7 {
        width: 58.3333333333%
    }
    .row .tr.cb8 {
        width: 66.6666666667%
    }
    .row .tr.cb9 {
        width: 75%
    }
    .row .tr.cb10 {
        width: 83.3333333333%
    }
    .row .tr.cb11 {
        width: 91.6666666667%
    }
    .row .tr.cb12 {
        width: 100%
    }
    .row .tr.cb-1 {
        margin-left: 8.3333333333%
    }
    .row .tr.cb-2 {
        margin-left: 16.6666666667%
    }
    .row .tr.cb-3 {
        margin-left: 25%
    }
    .row .tr.cb-4 {
        margin-left: 33.3333333333%
    }
    .row .tr.cb-5 {
        margin-left: 41.6666666667%
    }
    .row .tr.cb-6 {
        margin-left: 50%
    }
    .row .tr.cb-7 {
        margin-left: 58.3333333333%
    }
    .row .tr.cb-8 {
        margin-left: 66.6666666667%
    }
    .row .tr.cb-9 {
        margin-left: 75%
    }
    .row .tr.cb-10 {
        margin-left: 83.3333333333%
    }
    .row .tr.cb-11 {
        margin-left: 91.6666666667%
    }
    .row .tr.cb-12 {
        margin-left: 100%
    }
}

/* ============= 3. Yardimci Kodlar =============== */

.sol {
    float: left !important
}

.sag {
    float: right !important
}

.ortala {
    margin-left: auto;
    margin-right: auto
}

.yuvarlak {
    border-radius: 50% !important
}

.gizle {
    display: none !important
}

@media only screen and (max-width: 400px) {
    .gizle-ck {
        display: none
    }
}

@media only screen and (min-width: 400px) and (max-width: 800px) {
    .gizle-k {
        display: none
    }
}

@media only screen and (min-width: 800px) and (max-width: 1000px) {
    .gizle-o {
        display: none
    }
}

@media only screen and (min-width: 1000px) and (max-width: 1200px) {
    .gizle-b {
        display: none
    }
}

@media only screen and (min-width: 1200px) {
    .gizle-cb {
        display: none
    }
}

.cizgi {
    background-color: #eee;
    display: inline-block;
    height: 1px;
    margin: 10px auto;
    text-align: center;
    width: 99%
}

.cizgi img {
    background-color: #FFF;
    bottom: 17px;
    height: 35px;
    padding: 5px 10px;
    position: relative;
    width: auto
}

.cizgi a,
.cizgi h1,
.cizgi h2,
.cizgi h3,
.cizgi h4,
.cizgi h5,
.cizgi h6,
.cizgi p,
.cizgi span {
    background-color: #FFF;
    bottom: 13px;
    color: #000;
    display: inline-block;
    font-size: 15px;
    margin: 0;
    padding: 5px;
    position: relative
}

.temizle {
    clear: both
}

/* ============= 4. Yazi Stili */

@font-face {
    font-family: "Noto Sans";
    src: url(../fonts/NotoSans.ttf)
}

@font-face {
    font-family: "Noto Sans Italic";
    src: url("../fonts/NotoSans-Italic.ttf")
}

@font-face {
    font-family: "Noto Sans Bold";
    src: url("../fonts/NotoSans-Bold.ttf")
}

/* ============= 5. Arkaplanlar */
/* ============= 5.1 Arkaplan Desenleri */

.desen,
.desen1 {
    background-image: url("../img/desen/desen.png")
}

.desen2 {
    background-image: url("../img/desen/desen2.png")
}

.desen3 {
    background-image: url("../img/desen/desen3.png")
}

.desen4 {
    background-image: url("../img/desen/desen4.png")
}

.desen5 {
    background-image: url("../img/desen/desen5.png")
}

.desen6 {
    background-image: url("../img/desen/desen6.png")
}

.desen7 {
    background-image: url("../img/desen/desen7.png")
}

.desen8 {
    background-image: url("../img/desen/desen8.png")
}

.desen9 {
    background-image: url("../img/desen/desen9.png")
}

.desen10 {
    background-image: url("../img/desen/desen10.png")
}

.desen11 {
    background-image: url("../img/desen/desen11.png")
}

.desen12 {
    background-image: url("../img/desen/desen12.png")
}

.desen13 {
    background-image: url("../img/desen/desen13.png")
}

.desen14 {
    background-image: url("../img/desen/desen14.png")
}

.desen15 {
    background-image: url("../img/desen/desen15.png")
}

.desen16 {
    background-image: url("../img/desen/desen16.png")
}

.desen17 {
    background-image: url("../img/desen/desen17.png")
}

.desen18 {
    background-image: url("../img/desen/desen18.png")
}

.desen19 {
    background-image: url("../img/desen/desen19.png")
}

.desen20 {
    background-image: url("../img/desen/desen20.png")
}

.desen21 {
    background-image: url("../img/desen/desen21.png")
}

.desen22 {
    background-image: url("../img/desen/desen23.png")
}

.desen24 {
    background-image: url("../img/desen/desen24.png")
}

.desen25 {
    background-image: url("../img/desen/desen25.png")
}

/* ============= 5.2 Arkaplan Renkleri */

.beyaz {
    background-color: #FFF !important
}

.sari,
.sari6 {
    background-color: #FFEB3B !important
}

.sari2 {
    background-color: #FFF9C4 !important
}

.sari3 {
    background-color: #FFF59D !important
}

.sari4 {
    background-color: #FFF176 !important
}

.sari5 {
    background-color: #FFEE58 !important
}

.sari7 {
    background-color: #FDD835 !important
}

.sari8 {
    background-color: #FBC02D !important
}

.sari9 {
    background-color: #F9A825 !important
}

.sari10 {
    background-color: #F57F17 !important
}

.turuncu,
.turuncu6 {
    background-color: #FF9800 !important
}

.turuncu2 {
    background-color: #FFE0B2 !important
}

.turuncu3 {
    background-color: #FFCC80 !important
}

.turuncu4 {
    background-color: #FFB74D !important
}

.turuncu5 {
    background-color: #FFA726 !important
}

.turuncu7 {
    background-color: #FB8C00 !important
}

.turuncu8 {
    background-color: #F57C00 !important
}

.turuncu9 {
    background-color: #EF6C00 !important
}

.turuncu10 {
    background-color: #E65100 !important
}

.kirmizi,
.kirmizi6 {
    background-color: #F44336 !important
}

.kirmizi2 {
    background-color: #FFCDD2 !important
}

.kirmizi3 {
    background-color: #EF9A9A !important
}

.kirmizi4 {
    background-color: #E57373 !important
}

.kirmizi5 {
    background-color: #EF5350 !important
}

.kirmizi7 {
    background-color: #E53935 !important
}

.kirmizi8 {
    background-color: #D32F2F !important
}

.kirmizi9 {
    background-color: #C62828 !important
}

.kirmizi10 {
    background-color: #B71C1C !important
}

.pembe,
.pembe6 {
    background-color: #E91E63 !important
}

.pembe2 {
    background-color: #F8BBD0 !important
}

.pembe3 {
    background-color: #F48FB1 !important
}

.pembe4 {
    background-color: #F06292 !important
}

.pembe5 {
    background-color: #EC407A !important
}

.pembe7 {
    background-color: #D81B60 !important
}

.pembe8 {
    background-color: #C2185B !important
}

.pembe9 {
    background-color: #AD1457 !important
}

.pembe10 {
    background-color: #880E4F !important
}

.mor,
.mor6 {
    background-color: #9C27B0 !important
}

.mor2 {
    background-color: #E1BEE7 !important
}

.mor3 {
    background-color: #CE93D8 !important
}

.mor4 {
    background-color: #BA68C8 !important
}

.mor5 {
    background-color: #AB47BC !important
}

.mor7 {
    background-color: #8E24AA !important
}

.mor8 {
    background-color: #7B1FA2 !important
}

.mor9 {
    background-color: #6A1B9A !important
}

.mor10 {
    background-color: #4A148C !important
}

.mavi,
.mavi6 {
    background-color: #2196F3 !important
}

.mavi2 {
    background-color: #BBDEFB !important
}

.mavi3 {
    background-color: #90CAF9 !important
}

.mavi4 {
    background-color: #64B5F6 !important
}

.mavi5 {
    background-color: #42A5F5 !important
}

.mavi7 {
    background-color: #1E88E5 !important
}

.mavi8 {
    background-color: #1976D2 !important
}

.mavi9 {
    background-color: #1565C0 !important
}

.mavi10 {
    background-color: #0D47A1 !important
}

.turkuaz,
.turkuaz6 {
    background-color: #1AC5B8 !important
}

.turkuaz2 {
    background-color: #C1FDF8 !important
}

.turkuaz3 {
    background-color: #56F7EB !important
}

.turkuaz4 {
    background-color: #36EADD !important
}

.turkuaz5 {
    background-color: #2ED8CB !important
}

.turkuaz7 {
    background-color: #12B9AC !important
}

.turkuaz8 {
    background-color: #0CAB9E !important
}

.turkuaz9 {
    background-color: #03968A !important
}

.turkuaz10 {
    background-color: #038075 !important
}

.yesil,
.yesil6  {
    background-color: #4CAF50 !important
}

.yesil2 {
    background-color: #C8E6C9 !important
}

.yesil3 {
    background-color: #A5D6A7 !important
}

.yesil4 {
    background-color: #81C784 !important
}

.yesil5 {
    background-color: #66BB6A !important
}

.yesil7 {
    background-color: #43A047 !important
}

.yesil8 {
    background-color: #388E3C !important
}

.yesil9 {
    background-color: #2E7D32 !important
}

.yesil10 {
    background-color: #1B5E20 !important
}

.kahverengi,
.kahverengi6 {
    background-color: #795548 !important
}

.kahverengi2 {
    background-color: #D7CCC8 !important
}

.kahverengi3 {
    background-color: #BCAAA4 !important
}

.kahverengi4 {
    background-color: #A1887F !important
}

.kahverengi5 {
    background-color: #8D6E63 !important
}

.kahverengi7 {
    background-color: #6D4C41 !important
}

.kahverengi8 {
    background-color: #5D4037 !important
}

.kahverengi9 {
    background-color: #4E342E !important
}

.kahverengi10 {
    background-color: #3E2723 !important
}

.gri,
.gri6 {
    background-color: #9E9E9E !important
}

.gri2 {
    background-color: #F5F5F5 !important
}

.gri3 {
    background-color: #EEEEEE !important
}

.gri4 {
    background-color: #E0E0E0 !important
}

.gri5 {
    background-color: #BDBDBD !important
}

.gri7 {
    background-color: #757575 !important
}

.gri8 {
    background-color: #616161 !important
}

.gri9 {
    background-color: #4E4E4E !important
}

.gri10 {
    background-color: #424040 !important
}

.siyah {
    background-color: #000 !important
}

.siyah2 {
    background-color: #404040 !important
}

.siyah3 {
    background-color: #353535 !important
}

.siyah4 {
    background-color: #303030 !important
}

.siyah5 {
    background-color: #252525 !important
}

.siyah6 {
    background-color: #202020 !important
}

.siyah7 {
    background-color: #151515 !important
}

.siyah8 {
    background-color: #101010 !important
}

.siyah9 {
    background-color: #050505 !important
}

.blogger {
    background-color: #F87F14 !important
}

.codepen {
    background-color: #1B1C1B !important
}

.dribbble {
    background-color: #EC4A89 !important
}

.facebook {
    background-color: #3B5998 !important
}

.flickr {
    background-color: #FF0084 !important
}

.foursquare {
    background-color: #F94877 !important
}

.github {
    background-color: #323131 !important
}

.google {
    background-color: #DC483B !important
}

.instagram {
    background-color: #4E433C !important
}

.linkedin {
    background-color: #007AB5 !important
}

.periscope {
    background-color: #30A4C6 !important
}

.pinterest {
    background-color: #CB2027 !important
}

.scorp {
    background-color: #DE2228 !important
}

.snapchat {
    background-color: #FFFC01 !important
}

.skype {
    background-color: #00ADED !important
}

.swarm {
    background-color: #FFA633 !important
}

.tumblr {
    background-color: #2C4762 !important
}

.twitter {
    background-color: #5EA9DD !important
}

.vine {
    background-color: #00B489 !important
}

.vimeo {
    background-color: #1AB7EA !important
}

.wordpress {
    background-color: #00749A !important
}

.youtube {
    background-color: #EE1C1B !important
}

/* ============= 6. Buton */
/* ============= 6.1 Butonlar */

.buton,
button {
    background-color: #1AC5B8;
    border: none;
    border-radius: 3px;
    box-shadow: 0 2px 5px rgba(0,0,0,.15), 0 2px 10px rgba(0,0,0,.10);
    color: #FFF;
    cursor: pointer;
    display: inline-block;
    font-family: "Noto Sans";
    font-size: 12.5px;
    font-weight: normal;
    height: 40px;
    letter-spacing: 1.5px;
    line-height: 40px;
    outline: 0;
    overflow: hidden;
    padding: 0 25px !important;
    position: relative;
    text-align: center;
    text-decoration: none;
    text-transform: capitalize;
    transition: .3s ease-out
}

.buton.kucuk {
    height: 30px;
    line-height: 30px;
    padding: 10px 15px
}

.buton.buyuk {
    height: 60px;
    line-height: 60px
}

.buton:hover,
button:hover {
    box-shadow: 0 5px 10px rgba(0,0,0,.2), 0 5px 10px rgba(0,0,0,.15);
    color: #FFF;
    text-decoration: none
}

.buton.saydam,
button.saydam {
    background-color: transparent !important;
    border: 1px solid rgba(0,0,0,.15);
    box-shadow: none !important;
    color: #000
}

.buton.saydam:hover,
button.saydam:hover {
    box-shadow: inset 0 0 0 0 transparent !important;
    border: 1px solid rgba(0,0,0,.3);
    color: #000
}

.buton.pasif,
button.pasif {
    background-color: #DFDFDF !important;
    box-shadow: none;
    color: rgba(0,0,0,.4) !important;
    cursor:default
}

.buton.pasif:hover,
button.pasif:hover {
    background-color: #DFDFDF !important;
    box-shadow: inset 0 0 0 0 transparent !important;
    color: rgba(0,0,0,.4) !important;
    cursor:default
}

.buton.yuvarlak,
button.yuvarlak,
.buton.kare,
button.kare {
    height: 40px;
    line-height: 40px;
    padding: 0px !important;
    width: 40px
}

.buton.yuvarlak.kucuk,
button.yuvarlak.kucuk,
.buton.kare.kucuk,
button.kare.kucuk {
    height: 30px;
    line-height: 30px;
    width: 30px
}

.buton.yuvarlak.buyuk,
button.yuvarlak.buyuk,
.buton.kare.buyuk,
button.kare.buyuk {
    height: 60px;
    line-height: 60px;
    width: 60px
}

.buton.yay,
button.yay {
    width: 100%;
}

.buton i,
button i {
    margin-right: 7px;
    margin-top: -2px;
    opacity: .85;
    vertical-align: middle
}

.buton.yuvarlak i,
button.yuvarlak i {
    margin-right: -1px;
    opacity: 1
}

.buton.kare i,
button.kare i {
    margin-right: 0;
    opacity: 1
}

/* ============= 6.3 Buton Efektleri */

.buton[class*="efekt"] {
    overflow: hidden;
    position: relative
}

.buton[class*="efekt"]::before {
    background: #fff;
    content: "";
    opacity: .25;
    position: absolute;
    transition: .3s
}

.buton.efekt:before,
.buton.efekt1:before {
    height: 150px;
    left: -70px;
    top: -40px;
    transform: rotate(37deg);
    width: 50px
}

.buton.efekt:hover:before,
.buton.efekt1:hover:before {
    left: 99%
}

.buton.efekt2:before {
    height: 150px;
    left: 99%;
    top: -40px;
    transform: rotate(37deg);
    width: 50px
}

.buton.efekt2:hover:before {
    left: -72px
}

.buton.efekt3:before {
    bottom: 0;
    height: 100%;
    left: 0;
    width: 0
}

.buton.efekt3:hover:before {
    width: 100%
}

.buton.efekt4:before {
    bottom: 0;
    height: 100%;
    left: 100%;
    width: 0
}

.buton.efekt4:hover:before {
    left: 0;
    width: 100%
}

.buton.efekt5:before {
    height: 0;
    left: 0;
    top: 0;
    width: 100%
}

.buton.efekt5:hover:before {
    height: 100%
}

.buton.efekt6:before {
    bottom: 0;
    height: 0;
    left: 0;
    width: 100%
}

.buton.efekt6:hover:before {
    height: 100%
}

/* ============= 7. Etiket */

a.etiket {
    background-color: rgba(0,0,0,.1);
    border-radius: 3px;
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-size: 12.5px;
    letter-spacing: 1px;
    line-height: 1;
    margin: 0 5px 5px 0;
    padding: 7px;
    transition: .3s
}

a.etiket:hover {
    box-shadow: inset 0 0 100px rgba(0,0,0,.1);
    color: #000;
    text-decoration: none
}

a.etiket .detay {
    background: rgba(0,0,0,.1);
    border-radius: 0 3px 3px 0;
    display: inline-block;
    opacity: .8;
    padding: 7px;
    margin: -7px -7px -7px 2px
}

a.etiket.resim img {
    border-radius: 3px 0 0 3px;
    display: inline-block;
    height: 26px;
    margin: -11px 7px -9px -7px;
    vertical-align: baseline;
    width: 26px
}

/* ============= 8. Form */

.tr-form {
    background-color: #FFF;
    border-radius: 5px;
    padding: 30px
}

/* ============= 8.1 Anahtarlar */

.tr-anahtar:not(:checked), .tr-anahtar:checked {
    left: -9999px;
    opacity: 0;
    position: absolute
}

.tr-anahtar + label {
    margin-left: 50px
}

.tr-anahtar + label:before {
    background: rgba(0,0,0,.1);
    border-radius: 10px;
    box-shadow: 0 2px 5px rgba(0,0,0,.15), 0 2px 10px rgba(0,0,0,.10);
    content: "";
    cursor: pointer;
    height: 20px;
    margin-left: -47px;
    margin-top: 4px;
    position: absolute;
    width: 40px;
    z-index: 1
}

.tr-anahtar + label:after {
    background: #FFF;
    border-radius: 100%;
    box-shadow: 0 2px 5px rgba(0,0,0,.15), 0 2px 10px rgba(0,0,0,.10);
    content: "";
    cursor: pointer;
    height: 20px;
    margin-left: -47px;
    margin-top: 4px;
    position: absolute;
    transition: all .3s;
    width: 20px;
    z-index: 2
}

input:checked.tr-anahtar + label:before {
    background-color: #1AC5B8
}

input:checked.tr-anahtar + label:after {
    margin-left: -27px
}

/* ============= 8.2 Checkbox */

.tr-checkbox:not(:checked), .tr-checkbox:checked {
    left: -9999px;
    opacity: 0;
    position: absolute
}

.tr-checkbox {
    box-sizing: border-box;
    padding: 0
}

.tr-checkbox + label {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    min-width: 50px;
    padding: 0 25px;
    position: relative
}

.tr-checkbox:last-of-type + label {
    margin-bottom: 15px
}

.tr-checkbox:checked + label:before {
    backface-visibility: hidden;
    border-color: #1AC5B8;
    border-top-color: transparent;
    border-left-color: transparent;
    height: 22px;
    left: -5px;
    top: -4px;
    transform: rotate(40deg);
    transform-origin: 100% 100%;
    width: 12px
}

.tr-checkbox + label:before, .tr-checkbox:not(.filled-in) + label:after {
    border: 2px solid rgba(0,0,0,.75);
    border-radius: 2px;
    content: "";
    height: 18px;
    margin-top: 3px;
    left: 0;
    position: absolute;
    top: 0;
    transition: .1s;
    width: 18px;
    z-index: 0
}

.tr-checkbox:not(.filled-in) + label:after {
    border: 0;
    transform: scale(0)
}

/* ============= 8.3 Dosya Secici */
/* ============= 8.4 Input */

.tr-input {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #eee;
    box-sizing: content-box;
    display: block;
    font-family: "Noto Sans";
    font-size: 16px;
    height: 32px;
    letter-spacing: .5px;
    line-height: 16px;
    margin-bottom: 10px;
    outline: none;
    position: relative;
    transition: .3s;
    width: 100%
}

.tr-input.aktif {
    border-bottom: 2px solid #1AC5B8
}

.tr-input + label {
    color: #1AC5B8;
    cursor: auto;
    display: block;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    pointer-events: none;
    position: relative;
    text-align: left !important;
    transform: translateY(-40px);
    transform-origin: 0 50%;
    transition: .3s
}

.tr-input.aktif + label {
    color: #057970
}

.tr-input.dolu + label {
    transform: translateY(-60px) scale(.75) !important
}

/* ============= 8.5 Radio Buton */

.tr-radio {
    box-sizing: border-box;
    padding: 0
}

.tr-radio:not(:checked), .tr-radio:checked {
    left: -9999px;
    opacity: 0;
    position: absolute
}

.tr-radio + label {
    cursor: pointer;
    display: inline-block;
    font-size: 15px;
    height: 25px;
    line-height: 25px;
    padding: 0 15px 0 25px;
    position: relative;
    text-align: left !important
}

.tr-radio:last-of-type + label {
    margin-bottom: 15px
}

.tr-radio:checked + label:before {
    backface-visibility: hidden;
    background-color: #1AC5B8;
    height: 18px;
    left: 0;
    top: 0;
    transform-origin: 100% 100%;
    width: 18px
}

.tr-radio + label:before, .tr-radio:not(.filled-in) + label:after {
    border: 2px solid rgba(0,0,0,.75);
    border-radius: 50%;
    content: "";
    height: 18px;
    margin-top: 3px;
    left: 0;
    position: absolute;
    top: 0;
    transition: .3s;
    width: 18px;
    z-index: 0
}

.tr-radio:not(.filled-in) + label:after {
    border: 0;
    transform: scale(0)
}

/* ============= 8.6 Select */

select {
    background-color: rgba(255,255,255,.85);
    border:1px solid #f2f2f2;
    border-radius: 3px;
    display: block;
    height: 40px;
    margin-bottom: 10px;
    outline: none;
    letter-spacing: .3px;
    padding: 0 50px 0 10px;
    width: 100%
}

/* ============= 8.7 Tarih Secici */

input[type="date"].tr-input {
    line-height: 20px
}

input[type="date"].tr-input + label {
    transform: translateY(-60px) scale(.75) !important
}

/* ============= 8.8 Textarea */

.tr-textarea {
    background-color: transparent;
    border: none;
    border-bottom: 2px solid #eee;
    box-sizing: content-box;
    display: block;
    font-family: "Noto Sans";
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 16px;
    margin: 10px 0;
    min-height: 50px;
    outline: none;
    position: relative;
    resize: none;
    transition: .3s;
    width: 100%
}

.tr-textarea.aktif {
    border-bottom: 2px solid #1AC5B8
}

.tr-textarea + label {
    color: #1AC5B8;
    cursor: auto;
    display: block;
    font-weight: 400;
    line-height: 16px;
    margin: 0;
    pointer-events: none;
    position: relative;
    transform: translateY(-65px);
    text-align: left !important;
    transform-origin: 0 50%;
    transition: .3s
}

.tr-textarea.aktif + label {
    color: #057970
}

.tr-textarea.dolu + label {
    transform: translateY(-85px) scale(.75) !important
}

/* ============= 9. Footer */

footer {
    background-color: #1AC5B8;
    box-shadow: 0 0 5px rgba(0,0,0,.5);
    color: #FFF;
    padding: 25px 0 50px 0;
    position: relative;
    width: 100%
}

footer nav ul li a {
    line-height: 23px
}

footer .detay {
    background-color: rgba(0,0,0,.3);
    padding: 15px 0;
    position: relative;
    top: 50px;
    width: 100%
}

/* ============= 10. Kartlar */
/* ============= 10.1 Kart Kodlari */

.kart {
    background-color: #FFF;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    height: 400px;
    margin-bottom: 25px;
    position: relative;
    width: 100%
}

.kart.kucuk {
    height: 300px
}

.kart.buyuk {
    height: 500px
}

.kart > .resim {
    height: 195px;
    overflow: hidden;
    width: 100%
}

.kart.kucuk > .resim {
    height: 125px
}

.kart.buyuk > .resim {
    height: 248px
}

.kart > .resim img {
    border-top-right-radius: 3px;
    border-top-left-radius: 3px;
    cursor: pointer;
    height: 100%;
    transition: .3s;
    width: 100%
}

.kart .icerik {
    height: 150px;
    overflow: hidden;
    padding: 10px 15px 0 15px
}

.kart.kucuk .icerik {
    height: 114px
}

.kart.buyuk .icerik {
    height: 190px
}

@media only screen and (min-width: 800px) {
    .kart .icerik {
        padding: 15px 25px 0 25px
    }
    .kart.kucuk .icerik {
        padding: 10px 20px 0 20px
    }
}

.kart .icerik h1,
.kart .icerik h2,
.kart .icerik h3,
.kart .icerik h4,
.kart .icerik h5,
.kart .icerik h6 {
    font-size: 22px;
    margin-top: 0
}

.kart .icerik h1 a,
.kart .icerik h2 a,
.kart .icerik h3 a,
.kart .icerik h4 a,
.kart .icerik h5 a,
.kart .icerik h6 a,
.kart .icerik a h1,
.kart .icerik a h2,
.kart .icerik a h3,
.kart .icerik a h4,
.kart .icerik a h5,
.kart .icerik a h6 {
    color: #000
}

.kart .icerik p {
    font-size: 14px;
    height: 100px;
    line-height: 24px;
    overflow: hidden
}

.kart.kucuk .icerik p {
    height: 70px
}

.kart.buyuk .icerik p {
    height: 150px
}

.kart .detay {
    border-top: 1px solid rgba(0,0,0,.05);
    font-size: 12.5px;
    height: 50px;
    line-height: 50px;
    margin-top: 5px
}

.kart.kucuk .detay,
.kart.buyuk .detay {
    margin-top: 13px
}

.kart .detay a {
    color: #000;
    display: block;
    font-size: 16px;
    opacity: .75;
    transition: .3s
}

.kart .detay:hover a {
    opacity: 1;
    text-decoration: none;
    text-shadow: 3px 3px 3px rgba(0,0,0,.3)
}

.kart .detay a.buton {
    display: block;
    height: 48px;
    line-height: 26px
}

.kart .detay div:last-of-type {
    float: right;
    margin-right: 15px
}

.kart .detay div:first-of-type {
    float: left;
    margin-left: 15px
}

@media only screen and (min-width: 800px) {
    .kart .detay div:last-of-type {
        margin-right: 25px
    }
    .kart .detay div:first-of-type {
        margin-left: 25px
    }
}

/* ============= 10.2 Kart Efektleri */

/* Yakinlastirma */
.kart.efekt1 > .resim img {
    transform: scale(1)
}

.kart.efekt1 > .resim img:hover {
    transform: scale(1.3)
}

/* Uzaklastirma */
.kart.efekt2 > .resim img {
    transform: scale(1.3)
}

.kart.efekt2 > .resim img:hover {
    transform: scale(1)
}

/* Sola Gecer */
.kart.efekt3 > .resim img {
    margin-left: 30px;
    transform: scale(1.2)
}

.kart.efekt3 > .resim img:hover {
    margin-left: 0
}

/* Saga Gecer */
.kart.efekt4 > .resim img {
    margin-left: -30px;
    transform: scale(1.2)
}

.kart.efekt4 > .resim img:hover {
    margin-left: 0
}

/* Capraz Yakinlastirir */
.kart.efekt5 > .resim img {
    transform: rotate(0) scale(1)
}

.kart.efekt5 > .resim img:hover {
    transform: rotate(15deg) scale(1.75)
}

/* Siyah Beyaz */
.kart.efekt6 > .resim img {
    opacity: .95;
    -webkit-filter: grayscale(100%)
}

.kart.efekt6 > .resim img:hover {
    opacity: 1;
    -webkit-filter: grayscale(0%)
}

/* Renklendirir */
.kart.efekt7 > .resim img {
    opacity: 1;
    -webkit-filter: grayscale(0%)
}

.kart.efekt7 > .resim img:hover {
    opacity: .95;
    -webkit-filter: grayscale(100%)
}

/* Bulaniklastirir */
.kart.efekt8 > .resim img {
    -webkit-filter: blur(1px)
}

.kart.efekt8 > .resim img:hover {
    -webkit-filter: blur(0)
}

/* Netlestirir */
.kart.efekt9 > .resim img {
    -webkit-filter: blur(0)
}

.kart.efekt9 > .resim img:hover {
    -webkit-filter: blur(1px)
}

/* ============= 11 Nav */
/* ============= 11.1 Filtre Menu */

nav.filtre {
    display: table;
    margin-bottom: 30px;
    width: 100%
}

nav.filtre ul {
    background-color: #1AC5B8;
    border-radius: 50px;
    display: table;
    margin-bottom: 10px
}

nav.filtre.ortala ul {
    margin: 0 auto 10px auto
}

nav.filtre ul li {
    float: left
}

nav.filtre ul li a.sekme {
    color: #FFF;
    cursor: pointer;
    display: block;
    float: left;
    font-size: 13px;
    margin: 3px;
    letter-spacing: 1px;
    line-height: 1.7;
    padding: 5px 13px;
    text-align: center;
    transition: .3s
}

nav.filtre a.sekme:hover {
    background-color: #FFF;
    border-radius: 50px;
    color: #000;
    opacity: .5;
    text-decoration: none
}

nav.filtre a.sekme.aktif {
    background-color: #FFF;
    border-radius: 50px;
    color: #000;
    opacity: 1
}

nav.filtre .icerik {
    background-color: #FFF
}



/* ============= 11.2 Koleksiyonlar */

nav.koleksiyon {
    background-color: #FFF;
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    margin-bottom: 25px;
    position: relative
}

nav.koleksiyon h1,
nav.koleksiyon h2,
nav.koleksiyon h3,
nav.koleksiyon h4,
nav.koleksiyon h5,
nav.koleksiyon h6 {
    border-bottom: 1px solid rgba(0,0,0,.1);
    padding: 15px 15px 15px 20px;
    margin: 0
}

nav.koleksiyon a {
    border-bottom: 1px solid rgba(0,0,0,.1);
    color: #000;
    display: block;
    padding: 10px 10px 10px 15px;
    transition: .3s
}

nav.koleksiyon a:last-child {
    border-bottom: 0
}

nav.koleksiyon a:hover {
    background-color: rgba(0,0,0,.04);
    text-decoration: none
}

nav.koleksiyon.renkli a:nth-of-type(odd) {
    background-color: rgba(0,0,0,.02)
}

nav.koleksiyon.renkli a:nth-of-type(odd):hover {
    background-color: rgba(0,0,0,.04)
}

nav.koleksiyon.saydam {
    background-color: transparent;
    border: 0
}

nav.koleksiyon.saydam h1,
nav.koleksiyon.saydam h2,
nav.koleksiyon.saydam h3,
nav.koleksiyon.saydam h4,
nav.koleksiyon.saydam h5,
nav.koleksiyon.saydam h6 {
    border-bottom: 0
}

nav.koleksiyon.saydam a {
    border-bottom: 0
}

/* ============= 11.3 Menu */

nav.menu {
    background-color: #1AC5B8;
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    display: block;
    height: 45px;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
    z-index: 999
}

nav.menu img:not(.logo) {
    height: 40px;
    display: block;
    float: none !important;
    margin: 15px auto
}

nav.menu h1,
nav.menu h2,
nav.menu h3,
nav.menu h4,
nav.menu h5,
nav.menu h6 {
    line-height: 25px;
    float: left;
    font-size: 25px;
    margin-right: 10px
}

nav.menu h1.sag,
nav.menu h2.sag,
nav.menu h3.sag,
nav.menu h4.sag,
nav.menu h5.sag,
nav.menu h6.sag {
    margin-left: 10px;
    margin-right: 0
}

nav.menu.sabit {
    position: fixed
}

nav.menu ul {
    height: 50px
}

nav.menu ul li {
    float: left
}

nav.menu ul li a {
    color: #FFF;
    cursor: pointer;
    display: block;
    font-size: 14px;
    letter-spacing: .5px;
    line-height: 45px;
    padding: 0 15px;
    transition: .2s
}

nav.menu ul li:hover > a {
    background-color: rgba(0,0,0,.1);
    color: #FFF;
    text-decoration: none
}

nav.menu ul li.acilir > a::after {
    border-left: 4px solid transparent;
    border-right: 4px solid transparent;
    border-top: 4px solid rgba(0,0,0,.2);
    content: "";
    left: 8px;
    position: relative;
    top: 10px
}

nav.menu ul li ul {
    box-shadow: 0 5px 10px rgba(0,0,0,.1);
    display: none;
    position: absolute !important;
    z-index: 999
}

nav.menu ul li ul li {
    float: none
}

nav.menu ul li ul li:last-child {
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    overflow: hidden
}

nav.menu ul li ul li a {
    background-color: #FFF !important;
    color: #000
}

nav.menu ul li ul li:hover a {
    box-shadow: inset 0 0 250px rgba(0,0,0,.1);
    color: #000;
    width: 100%
}

@media only screen and (min-width: 1000px) {
    nav.menu.mobil {
        left: 0 !important
    }
    nav.menu.mobil > img.logo {
        display: none
    }
    nav.menu img:not(.logo) {
        height: 35px;
        float: left !important;
        margin: 5px 15px 5px 0
    }
    nav.menu img.sag:not(.logo) {
        float: right !important
    }
    nav.menu img.sol:not(.logo) {
        float: left !important
    }
    nav.menu img.sag:not(.logo) {
        margin-left: 15px;
        margin-right: 0
    }
    nav.menu ul li:hover ul {
        display: table !important
    }
}

@media only screen and (max-width: 999px) {
    nav.menu.mobil {
        background-color: #1AC5B8;
        height: 100%;
        left: -240px;
        overflow-y: auto;
        position: fixed;
        width: 240px
    }
    nav.menu h1,
    nav.menu h2,
    nav.menu h3,
    nav.menu h4,
    nav.menu h5,
    nav.menu h6 {
        float: none !important;
        margin: 15px 0 !important;
        text-align: center
    }
    nav.menu.mobil > img.logo {
        cursor: pointer;
        display: block;
        height: 50px;
        position: fixed;
        left: 40px;
        top: 20px;
        width: 50px
    }
    nav.menu.mobil .container,
    nav.menu.mobil .container-kucuk,
    nav.menu.mobil .container-buyuk {
        width: 100% !important
    }
    nav.menu ul.sag,
    nav.menu ul.sol {
        width: 100%
    }
    nav.menu.mobil ul li {
        float: none;
        position: relative
    }
    nav.menu.mobil ul li.acilir > a::after {
        border-left: 4px solid transparent;
        border-right: 4px solid transparent;
        border-top: 4px solid rgba(0,0,0,.2);
        content: "";
        position: absolute;
        left: auto;
        right: 23px;
        top: 23px
    }
    nav.menu.mobil ul li ul {
        box-shadow: 0 0 0 rgba(0,0,0,0);
        position: relative !important
    }
    nav.menu.mobil ul li:hover ul {
        display: none
    }
    nav.menu.mobil ul li ul li a {
        padding-left: 30px
    }
}

/* ============= 11.4 Sayfa Konumu */

nav.konum {
    background-color: #1AC5B8;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    color: rgba(255,255,255,.6);
    height: 50px;
    line-height: 50px;
    overflow-x: auto;
    overflow-y: hidden;
    padding: 0 25px;
    white-space: nowrap;
    width: 100%
}

nav.konum.kucuk {
    font-size: 13px;
    height: 30px;
    line-height: 30px
}

nav.konum.buyuk {
    font-size: 20px;
    height: 70px;
    line-height: 70px
}

nav.konum a {
    color: rgba(255,255,255,.6);
    margin-right: 10px
}

nav.konum a:last-of-type {
    color: #FFF
}

nav.konum a::after {
    content: ">";
    margin-left: 10px
}

nav.konum a:last-of-type::after {
    content:""
}

nav.konum a:hover {
    text-decoration: none
}

nav.konum.saydam {
    background-color: transparent !important
}

nav.konum.saydam a {
    color: rgba(0,0,0,.6)
}

nav.konum.saydam a:last-of-type {
    color: #000
}

/* ============= 11.5 Sayfa Numaralandirma */

nav.numara {
    background-color: #FFF;
    border-radius: 5px;
    box-shadow: 0 2px 2px rgba(0,0,0,.07);
    display: inline-block;
    margin: 25px 0
}

nav.numara a {
    border: 1px solid rgba(0,0,0,.1);
    border-left: 0;
    color: #000;
    display: block;
    float: left;
    padding: 8px 13px;
    transition: .15s
}

nav.numara a:first-of-type {
    border-left: 1px solid rgba(0,0,0,.1);
    border-bottom-left-radius: 5px;
    border-top-left-radius: 5px
}

nav.numara a:last-of-type {
    border-bottom-right-radius: 5px;
    border-top-right-radius: 5px
}

nav.numara a:hover {
    box-shadow : inset 0 0 0 100px rgba(0,0,0,.075);
    text-decoration: none
}

nav.numara a.aktif {
    box-shadow : inset 0 0 0 100px rgba(0,0,0,.075);
    pointer-events: none
}

nav.numara.kucuk a {
    font-size: 12.5px;
    padding: 6px 9px 6px 9px
}

nav.numara.buyuk a {
    font-size: 16px;
    padding: 12px 20px 12px 20px
}

nav.numara.saydam {
    background-color: transparent !important;
    box-shadow: 0 0 0 rgba(0,0,0,0)
}

nav.numara.saydam a {
    border: 0
}

nav.numara.ayrik {
    box-shadow: 0 0 0 rgba(0,0,0,0)
}

nav.numara.ayrik a {
    border-left: 1px solid rgba(0,0,0,.1);
    border-radius: 3px;
    margin-left: 10px
}

nav.numara.ayrik.kucuk a {
    margin-left: 5px
}

nav.numara.ayrik.buyuk a {
    margin-left: 15px
}

nav.numara.ayrik a:first-of-type {
    margin-left: 0
}

/* ============= 11.6 Tab Menu */

nav.tab {
    display: table;
    width: 100%
}

nav.tab li {
    float: left;
}

nav.tab .sekme {
    background: #FFF;
    border-bottom: 2px solid rgba(26,198,185,.15);
    color: #000;
    cursor: pointer;
    display: block;
    letter-spacing: 1px;
    line-height: 30px;
    opacity: .5;
    padding: 5px 10px;
    text-align: center;
    transition: .3s
}

nav.tab .sekme.aktif {
    border-bottom: 2px solid #1AC5B8;
    color: #1AC5B8;
    font-weight: bold;
    opacity: 1
}

nav.tab .sekme:hover {
    text-decoration: none;
}

nav.tab .icerik {
    border-radius: 3px;
    padding-top: 20px
}



/* ============= 12. Notlar */

.not {
    background-color: #1AC5B8;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    border-radius: 3px;
    color: #FFF;
    line-height: 1.6;
    margin-bottom: 15px;
    padding: 20px 50px 20px 20px;
    position: relative;
    width: 100%
}

.not p {
    margin-bottom: 0
}

.not span.kaldir {
    color: #FFF;
    cursor: pointer;
    opacity: .4;
    font-size: 25px;
    position: absolute;
    right: 20px;
    transition: .3s;
    top: 11px
}

.not:hover span.kaldir {
    opacity: 1
}

.not span.kaldir:hover {
    text-shadow: 0 0 5px rgba(0,0,0,.5)
}

.not.saydam {
    background-color: transparent !important;
    color: #000
}

.not.saydam span.kaldir {
    color: #000
}


/* ============= 13. Pano */

.pano {
    background-color: #1AC5B8;
    border-radius: 3px;
    box-shadow: 0 1px 6px rgba(0,0,0,.15);
    margin-bottom: 15px
}

.pano h1,
.pano h2,
.pano h3,
.pano h4,
.pano h5,
.pano h6 {
    color: #FFF;
    font-size: 16px;
    font-weight: 100;
    line-height: 18px;
    margin: 0;
    padding: 10px 15px
}

.pano.kucuk h1,
.pano.kucuk h2,
.pano.kucuk h3,
.pano.kucuk h4,
.pano.kucuk h5,
.pano.kucuk h6 {
    font-size: 13px;
    line-height: 15px;
    padding: 5px 15px
}

.pano.buyuk h1,
.pano.buyuk h2,
.pano.buyuk h3,
.pano.buyuk h4,
.pano.buyuk h5,
.pano.buyuk h6 {
    font-size: 20px;
    line-height: 23px;
    padding: 15px
}

.pano .icerik {
    background-color: #FFF;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    padding: 15px
}

.pano .icerik p {
    margin: 0
}

/* ============= 14. Yazi */
/* ============= 14.1 Yazi Ayarlari */

.yazi-sol {
    text-align: left !important
}

.yazi-sag {
    text-align: right !important
}

.yazi-ortala {
    text-align: center !important
}

.yazi-golge {
    text-shadow: 3px 3px 3px rgba(0,0,0,.3)
}

.yazi-golge2 {
    text-shadow: 4px 3px 0 #0a9a8f, 9px 8px 0 rgba(0,0,0,.15)
}

.yazi-kalin {
    font-weight: bold
}

.yazi-ince {
    font-weight: 100
}

.yazi-yatay {
    font-style: italic
}

.yazi-buyukharf {
    text-transform: uppercase
}

.yazi-kucukharf {
    text-transform: lowercase
}

.yazi-basharfbuyuk {
    text-transform: capitalize
}

.yazi-kes {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap
}

/* ============= 14.2 Yazi Boyutlari */

.yazi-cokbuyuk {
    font-size: 40px
}

.yazi-buyuk {
    font-size: 35px
}

.yazi-orta {
    font-size: 30px
}

.yazi-kucuk {
    font-size: 25px
}

.yazi-cokkucuk {
    font-size: 13px
}

@media only screen and (min-width: 1000px) {
    .yazi-cokbuyuk {
        font-size: 100px
    }
    .yazi-buyuk {
        font-size: 75px
    }
    .yazi-orta {
        font-size: 50px
    }
    .yazi-kucuk {
        font-size: 25px
    }
    .yazi-cokkucuk {
        font-size: 17px
    }
}

/* ============= 14.3 Yazi Renkleri */

.yazi-beyaz,
.yazi-beyaz a {
    color: #FFF !important
}

.yazi-sari,
.yazi-sari a,
.yazi-sari6,
.yazi-sari6 a {
    color: #FFEB3B !important
}

.yazi-sari2,
.yazi-sari2 a {
    color: #FFF9C4 !important
}

.yazi-sari3,
.yazi-sari3 a {
    color: #FFF59D !important
}

.yazi-sari4,
.yazi-sari4 a {
    color: #FFF176 !important
}

.yazi-sari5,
.yazi-sari5 a {
    color: #FFEE58 !important
}

.yazi-sari7,
.yazi-sari7 a {
    color: #FDD835 !important
}

.yazi-sari8,
.yazi-sari8 a {
    color: #FBC02D !important
}

.yazi-sari9,
.yazi-sari9 a {
    color: #F9A825 !important
}

.yazi-sari10,
.yazi-sari10 a {
    color: #F57F17 !important
}

.yazi-turuncu,
.yazi-turuncu a,
.yazi-turuncu6,
.yazi-turuncu6 a {
    color: #FF9800 !important
}

.yazi-turuncu2,
.yazi-turuncu2 a {
    color: #FFE0B2 !important
}

.yazi-turuncu3,
.yazi-turuncu3 a {
    color: #FFCC80 !important
}

.yazi-turuncu4,
.yazi-turuncu4 a {
    color: #FFB74D !important
}

.yazi-turuncu5,
.yazi-turuncu5 a {
    color: #FFA726 !important
}

.yazi-turuncu7,
.yazi-turuncu7 a {
    color: #FB8C00 !important
}

.yazi-turuncu8,
.yazi-turuncu8 a {
    color: #F57C00 !important
}

.yazi-turuncu9,
.yazi-turuncu9 a {
    color: #EF6C00 !important
}

.yazi-turuncu10,
.yazi-turuncu10 a {
    color: #E65100 !important
}

.yazi-kirmizi,
.yazi-kirmizi a,
.yazi-kirmizi6,
.yazi-kirmizi6 a {
    color: #F44336 !important
}

.yazi-kirmizi2,
.yazi-kirmizi2 a {
    color: #FFCDD2 !important
}

.yazi-kirmizi3,
.yazi-kirmizi3 a {
    color: #EF9A9A !important
}

.yazi-kirmizi4,
.yazi-kirmizi4 a {
    color: #E57373 !important
}

.yazi-kirmizi5,
.yazi-kirmizi5 a {
    color: #EF5350 !important
}

.yazi-kirmizi7,
.yazi-kirmizi7 a {
    color: #E53935 !important
}

.yazi-kirmizi8,
.yazi-kirmizi8 a {
    color: #D32F2F !important
}

.yazi-kirmizi9,
.yazi-kirmizi9 a {
    color: #C62828 !important
}

.yazi-kirmizi10,
.yazi-kirmizi10 a {
    color: #B71C1C !important
}

.yazi-pembe,
.yazi-pembe a,
.yazi-pembe6,
.yazi-pembe6 a {
    color: #E91E63 !important
}

.yazi-pembe2,
.yazi-pembe2 a {
    color: #F8BBD0 !important
}

.yazi-pembe3,
.yazi-pembe3 a {
    color: #F48FB1 !important
}

.yazi-pembe4,
.yazi-pembe4 a {
    color: #F06292 !important
}

.yazi-pembe5,
.yazi-pembe5 a {
    color: #EC407A !important
}

.yazi-pembe7,
.yazi-pembe7 a {
    color: #D81B60 !important
}

.yazi-pembe8,
.yazi-pembe8 a {
    color: #C2185B !important
}

.yazi-pembe9,
.yazi-pembe9 a {
    color: #AD1457 !important
}

.yazi-pembe10,
.yazi-pembe10 a {
    color: #880E4F !important
}

.yazi-mor,
.yazi-mor a {
    color: # !important
}

.yazi-mor2,
.yazi-mor2 a {
    color: #9C27B0 !important
}

.yazi-mor3,
.yazi-mor3 a {
    color: #E1BEE7 !important
}

.yazi-mor4,
.yazi-mor4 a {
    color: #CE93D8 !important
}

.yazi-mor5,
.yazi-mor5 a {
    color: #BA68C8 !important
}

.yazi-mor6,
.yazi-mor6 a {
    color: #AB47BC !important
}

.yazi-mor7,
.yazi-mor7 a {
    color: #8E24AA !important
}

.yazi-mor8,
.yazi-mor8 a {
    color: #7B1FA2 !important
}

.yazi-mor9,
.yazi-mor9 a {
    color: #6A1B9A !important
}

.yazi-mor10,
.yazi-mor10 a {
    color: #4A148C !important
}

.yazi-mavi,
.yazi-mavi a,
.yazi-mavi6,
.yazi-mavi6 a {
    color: #2196F3 !important
}

.yazi-mavi2,
.yazi-mavi2 a {
    color: #BBDEFB !important
}

.yazi-mavi3,
.yazi-mavi3 a {
    color: #90CAF9 !important
}

.yazi-mavi4,
.yazi-mavi4 a {
    color: #64B5F6 !important
}

.yazi-mavi5,
.yazi-mavi5 a {
    color: #42A5F5 !important
}

.yazi-mavi7,
.yazi-mavi7 a {
    color: #1E88E5 !important
}

.yazi-mavi8,
.yazi-mavi8 a {
    color: #1976D2 !important
}

.yazi-mavi9,
.yazi-mavi9 a {
    color: #1565C0 !important
}

.yazi-mavi10,
.yazi-mavi10 a {
    color: #0D47A1 !important
}

.yazi-turkuaz,
.yazi-turkuaz a,
.yazi-turkuaz6,
.yazi-turkuaz6 a {
    color: #1AC5B8 !important
}

.yazi-turkuaz2,
.yazi-turkuaz2 a {
    color: #C1FDF8 !important
}

.yazi-turkuaz3,
.yazi-turkuaz3 a {
    color: #56F7EB !important
}

.yazi-turkuaz4,
.yazi-turkuaz4 a {
    color: #36EADD !important
}

.yazi-turkuaz5,
.yazi-turkuaz5 a {
    color: #2ED8CB !important
}

.yazi-turkuaz7,
.yazi-turkuaz7 a {
    color: #12B9AC !important
}

.yazi-turkuaz8,
.yazi-turkuaz8 a {
    color: #0CAB9E !important
}

.yazi-turkuaz9,
.yazi-turkuaz9 a {
    color: #03968A !important
}

.yazi-turkuaz10,
.yazi-turkuaz10 a {
    color: #038075 !important
}

.yazi-yesil,
.yazi-yesil a,
.yazi-yesil6,
.yazi-yesil6 a {
    color: #4CAF50 !important
}

.yazi-yesil2,
.yazi-yesil2 a {
    color: #C8E6C9 !important
}

.yazi-yesil3,
.yazi-yesil3 a {
    color: #A5D6A7 !important
}

.yazi-yesil4,
.yazi-yesil4 a {
    color: #81C784 !important
}

.yazi-yesil5,
.yazi-yesil5 a {
    color: #66BB6A !important
}

.yazi-yesil7,
.yazi-yesil7 a {
    color: #43A047 !important
}

.yazi-yesil8,
.yazi-yesil8 a {
    color: #388E3C !important
}

.yazi-yesil9,
.yazi-yesil9 a {
    color: #2E7D32 !important
}

.yazi-yesil10,
.yazi-yesil10 a {
    color: #1B5E20 !important
}

.yazi-kahverengi,
.yazi-kahverengi a,
.yazi-kahverengi6,
.yazi-kahverengi6 a {
    color: #795548 !important
}

.yazi-kahverengi2,
.yazi-kahverengi2 a {
    color: #D7CCC8 !important
}

.yazi-kahverengi3,
.yazi-kahverengi3 a {
    color: #BCAAA4 !important
}

.yazi-kahverengi4,
.yazi-kahverengi4 a {
    color: #A1887F !important
}

.yazi-kahverengi5,
.yazi-kahverengi5 a {
    color: #8D6E63 !important
}

.yazi-kahverengi7,
.yazi-kahverengi7 a {
    color: #6D4C41 !important
}

.yazi-kahverengi8,
.yazi-kahverengi8 a {
    color: #5D4037 !important
}

.yazi-kahverengi9,
.yazi-kahverengi9 a {
    color: #4E342E !important
}

.yazi-kahverengi10,
.yazi-kahverengi10 a {
    color: #3E2723 !important
}

.yazi-gri,
.yazi-gri a,
.yazi-gri6,
.yazi-gri6 a {
    color: #9E9E9E !important
}

.yazi-gri2,
.yazi-gri2 a {
    color: #F5F5F5 !important
}

.yazi-gri3,
.yazi-gri3 a {
    color: #EEEEEE !important
}

.yazi-gri4,
.yazi-gri4 a {
    color: #E0E0E0 !important
}

.yazi-gri5,
.yazi-gri5 a {
    color: #BDBDBD !important
}

.yazi-gri7,
.yazi-gri7 a {
    color: #757575 !important
}

.yazi-gri8,
.yazi-gri8 a {
    color: #616161 !important
}

.yazi-gri9,
.yazi-gri9 a {
    color: #4E4E4E !important
}

.yazi-gri10,
.yazi-gri10 a {
    color: #424040 !important
}

.yazi-siyah,
.yazi-siyah a {
    color: #000 !important
}

.yazi-siyah2,
.yazi-siyah2 a {
    color: #404040 !important
}

.yazi-siyah3,
.yazi-siyah3 a {
    color: #353535 !important
}

.yazi-siyah4,
.yazi-siyah4 a {
    color: #303030 !important
}

.yazi-siyah5,
.yazi-siyah5 a {
    color: #252525 !important
}

.yazi-siyah6,
.yazi-siyah6 a {
    color: #202020 !important
}

.yazi-siyah7,
.yazi-siyah7 a {
    color: #151515 !important
}

.yazi-siyah8,
.yazi-siyah8 a {
    color: #101010 !important
}

.yazi-siyah9,
.yazi-siyah9 a {
    color: #050505 !important
}
