// Colors

$black        : #191919;
$white        : #fff;
$primary      : #009688;
$secondary    : #f5f5f5;
$success      : #23d160;
$warning      : #ffca28;
$danger       : #f44336;
$info         : #2196f3;