.container {
  margin-right: auto;
  margin-left: auto;
  width: 100%;

  @include makeContainer()
}

.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$grid-gap;
  margin-left: -$grid-gap;

  &.no-gutters {
    margin-right: 0;
    margin-left: 0;

    & > [class*="col-"] {
      padding-right: 0;
      padding-left: 0
    }
  }
}

[class*="col-"] {
  padding-right: $grid-gap;
  padding-left: $grid-gap;
  position: relative;
  width: 100%
}

.col {
  flex-basis: 0;
  flex-grow: 1;
  max-width: 100%
}

@include makeColumns()
