.row {
  display: flex;
  flex-wrap: wrap;
  margin-right: -$grid-gap;
  margin-left: -$grid-gap;

  &.no-gutters {
    margin-right: 0;
    margin-left: 0;

    & > [class*="col-"] {
      padding-right: 0;
      padding-left: 0
    }
  }
}