.media {
  align-items: flex-start;
  display: flex;
  position: relative;

  > * {
    &:not(:last-child) {
      margin-right: 16px;
    }
  }

  &_content {
    flex: 1;
  }

  &_title {
    color: $text;
    font-size: 18px;
    font-weight: $font-medium;
    margin-bottom: 8px;
  }
}