.button {
  align-items: center;
  background-color: #fff;
  border: 1px solid #dbdbdb;
  border-radius: 4px;
  color: #252525;
  cursor: pointer;
  display: inline-flex;
  font-weight: normal;
  font-size: 14px;
  justify-content: center;
  margin-bottom: 8px;
  margin-right: 4px;
  min-width: 64px;
  outline: none;
  line-height: 24px;
  padding: 7px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: 0.1s ease-out;
  user-select: none;
  &:hover:not([disabled]) {
    border-color: #b5b5b5;
    text-decoration: none;
  }
  &:focus:not(.button--link),
  &:active:not(.button--link) {
    box-shadow: 0 0 0 3px rgba(0, 209, 178, 0.25);
  }
  &--primary, &--secondary, &--link, &--success, &--warning, &--danger, &--info {
    border-width: 0;
    padding-bottom: 8px;
    padding-top: 8px;
  }
  &--primary, &--success, &--warning, &--danger, &--info {
    color: #fff;
  }
  &--outline {
    border: 1px solid #dbdbdb;
    padding-bottom: 7px;
    padding-top: 7px;
  }
  &--primary {
    background-color: #009688;
    &:not([disabled]):hover {
      background-color: #00897b;
    }
    &:not([disabled]):active {
      background-color: #00796b;
    }
    &.button--outline {
      background-color: transparent;
      border-color: #009688;
      color: #009688;
      &:hover {
        background-color: #009688;
        border-color: #009688;
        color: #fff;
      }
    }
  }
  &--secondary {
    background-color: #f5f5f5;
    &:not([disabled]):hover {
      background-color: #ebebeb;
    }
    &:not([disabled]):active {
      background-color: #e0e0e0;
    }
    &.button--outline {
      background-color: transparent;
      border-color: #dbdbdb;
      color: #252525;
      &:hover {
        background-color: #f5f5f5;
        border-color: #f5f5f5;
        color: #252525;
      }
    }
  }
  &--success {
    background-color: #23d160;
    &:not([disabled]):hover {
      background-color: #21c058;
    }
    &:not([disabled]):active {
      background-color: #1eae50;
    }
    &.button--outline {
      background-color: transparent;
      border-color: #23d160;
      color: #23d160;
      &:hover {
        background-color: #23d160;
        border-color: #23d160;
        color: #fff;
      }
    }
  }
  &--warning {
    background-color: #ffca28;
    &:not([disabled]):hover {
      background-color: #ffc20a;
    }
    &:not([disabled]):active {
      background-color: #f5b800;
    }
    &.button--outline {
      background-color: transparent;
      border-color: #ffca28;
      color: #ffca28;
      &:hover {
        background-color: #ffca28;
        border-color: #ffca28;
        color: #fff;
      }
    }
  }
  &--danger {
    background-color: #f44336;
    &:not([disabled]):hover {
      background-color: #e53935;
    }
    &:not([disabled]):active {
      background-color: #d32f2f;
    }
    &.button--outline {
      background-color: transparent;
      border-color: #f44336;
      color: #f44336;
      &:hover {
        background-color: #f44336;
        border-color: #f44336;
        color: #fff;
      }
    }
  }
  &--info {
    background-color: #2196f3;
    &:not([disabled]):hover {
      background-color: #1e88e5;
    }
    &:not([disabled]):active {
      background-color: #1976d2;
    }
    &.button--outline {
      background-color: transparent;
      border-color: #2196f3;
      color: #2196f3;
      &:hover {
        background-color: #2196f3;
        border-color: #2196f3;
        color: #fff;
      }
    }
  }
  &--link {
    &:not([disabled]):hover {
      text-decoration: underline !important;
    }
    &:not([disabled]):active {
      background-color: #f5f5f5;
    }
  }
  &[disabled] {
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }
  &--small {
    padding-bottom: 3px;
    padding-top: 3px;
  }
  &--large {
    font-size: 16px;
    padding: 11px 20px;
  }
  &--round {
    border-radius: 100px;
  }
  &--round,
  &--square {
    height: 40px;
    min-width: initial;
    padding: 0;
    width: 40px;
  }
  &--round.button--small,
  &--square.button--small {
    height: 32px;
    width: 32px;
  }
  &--round.button--large,
  &--square.button--large {
    height: 48px;
    width: 48px;
  }
  &--block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .button__icon {
    width: 24px;
    &:first-child:not(:last-child) {
      margin-left: -8px;
      margin-right: 4px;
    }
    &:last-child:not(:first-child) {
      margin-left: 4px;
      margin-right: -8px;
    }
  }
}