.delete {
  background-color: rgba($black, 0.2);
  border-radius: 100%;
  cursor: pointer !important;
  display: inline-block;
  height: 20px;
  outline: none;
  position: relative;
  transition: 0.1s ease-out;
  user-select: none;
  vertical-align: middle;
  width: 20px;

  &::before,
  &::after {
    background-color: $white;
    content: "";
    display: block;
    height: 2px;
    left: 50%;
    position: absolute;
    top: 50%;
    transform: translateX(-50%) translateY(-50%) rotate(45deg);
    transform-origin: center center;
    width: 50%;
  }

  &::after {
    height: 50%;
    width: 2px;
  }

  &:hover {
    background-color: rgba($black, 0.3);
  }
  
  &:focus,
  &:active {
    box-shadow: 0 0 0 3px rgba(0, 209, 178, 0.25);
  }
  &--small {
    height: 16px;
    width: 16px;
  }
  &--large {
    height: 24px;
    width: 24px;
  }
}