.form-field {
  position: relative;
  margin-bottom: 16px;

  &.form-loading {
    &:after {
      animation: spinAround .5s infinite linear;
      border: 2px solid $border;
      border-radius: 100%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      height: 16px;
      width: 16px;
      position: absolute;
      right: 12px;
      top: 12px;
    }

    .input {
      padding-right: 40px;
    }
  }

  &.form-icon {
    .input {
      padding-left: 40px;
      
      + .icon {
        color: $dark-grey;
        font-size: 16px;
        left: 12px;
        position: absolute;
        text-align: center;
        top: 12px;
        transition: 0.1s ease-out;
        width: 16px;
      }

      &:focus {
        +.icon {
          color: $black;
        }
      }
    }

    label + .input + .icon {
      top: 40px;
    }
  }
}

.input {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 4px;
  color: $black;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  outline: none;
  padding: 4px 12px;
  width: 100%;

  &:focus {
    box-shadow: 0 0 0 3px rgba(0,209,178,0.25);
  }

  &[disabled] {
    background-color: $grey;
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &::placeholder {
    color: $dark-grey;
  }

  &.valid,
  &.invalid {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 16px;
    padding-right: 40px;
  }

  &.valid {
    border-color: $success;
    box-shadow: 0 0 0 3px rgba($success,0.25);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2323d160' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");

    + .text {
      color: $success;
    }
  }

  &.invalid {
    border-color: $danger;
    box-shadow: 0 0 0 3px rgba($danger,0.25);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f44336' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f44336' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");

    + .text {
      color: $danger;
    }
  }

  + .text {
    color: $dark-grey;
    display: block;
    margin-top: 4px;
  }
}

@keyframes spinAround {
  from  { transform: rotate(0) }
  to    { transform: rotate(359deg) }
}

.textarea {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 4px;
  color: $black;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.75;
  min-height: 80px;
  outline: none;
  padding: 4px 12px;
  resize: vertical;
  width: 100%;
  
  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 209, 178, 0.25);
  }

  &[disabled] {
    background-color: $grey;
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &::placeholder {
    color: $dark-grey;
  }
}