.form-field {
  position: relative;
  margin-bottom: 16px;

  &.form-loading {
    &:after {
      animation: spinAround .5s infinite linear;
      border: 2px solid $border;
      border-radius: 100%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      height: 16px;
      width: 16px;
      position: absolute;
      right: 12px;
      top: 12px;
    }

    .input {
      padding-right: 40px;
    }
  }

  &.form-icon {
    .input {
      padding-left: 40px;
      
      + .icon {
        color: $dark-grey;
        font-size: 16px;
        left: 12px;
        position: absolute;
        text-align: center;
        top: 12px;
        transition: 0.1s ease-out;
        width: 16px;
      }

      &:focus {
        +.icon {
          color: $black;
        }
      }
    }

    label + .input + .icon {
      top: 40px;
    }
  }
}

.input {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 4px;
  color: $black;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 30px;
  outline: none;
  padding: 4px 12px;
  transition: box-shadow .2s ease;
  width: 100%;

  &:focus {
    box-shadow: 0 0 0 3px rgba(0,209,178,0.25);
  }

  &[disabled] {
    background-color: $grey;
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &::placeholder {
    color: $dark-grey;
  }

  &.valid,
  &.invalid {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 16px;
    padding-right: 40px;
  }

  &.valid {
    border-color: $success;
    box-shadow: 0 0 0 3px rgba($success,0.25);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%2323d160' d='M2.3 6.73L.6 4.53c-.4-1.04.46-1.4 1.1-.8l1.1 1.4 3.4-3.8c.6-.63 1.6-.27 1.2.7l-4 4.6c-.43.5-.8.4-1.1.1z'/%3e%3c/svg%3e");

    + .text {
      color: $success;
    }
  }

  &.invalid {
    border-color: $danger;
    box-shadow: 0 0 0 3px rgba($danger,0.25);
    background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' fill='%23f44336' viewBox='-2 -2 7 7'%3e%3cpath stroke='%23f44336' d='M0 0l3 3m0-3L0 3'/%3e%3ccircle r='.5'/%3e%3ccircle cx='3' r='.5'/%3e%3ccircle cy='3' r='.5'/%3e%3ccircle cx='3' cy='3' r='.5'/%3e%3c/svg%3E");

    + .text {
      color: $danger;
    }
  }

  + .text {
    color: $dark-grey;
    display: block;
    margin-top: 4px;
  }
}

@keyframes spinAround {
  from  { transform: rotate(0) }
  to    { transform: rotate(359deg) }
}

.textarea {
  background-color: $white;
  border: 1px solid $border;
  border-radius: 4px;
  color: $black;
  display: block;
  font-size: 14px;
  font-weight: normal;
  line-height: 1.75;
  min-height: 80px;
  outline: none;
  padding: 4px 12px;
  resize: vertical;
  transition: box-shadow .2s ease;
  width: 100%;
  
  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 209, 178, 0.25);
  }

  &[disabled] {
    background-color: $grey;
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &::placeholder {
    color: $dark-grey;
  }
}

.select {
  background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3e%3cpath fill='%23757575' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e") no-repeat right 12px center/8px 10px;
  background-color: $white;
  border: 1px solid $border;
  border-radius: 4px;
  color: $black;
  display: block;
  font-size: 14px;
  font-weight: normal;
  height: 40px;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  resize: vertical;
  transition: box-shadow .2s ease;
  width: 100%;
  -webkit-appearance: none;
  &:focus {
    box-shadow: 0 0 0 3px rgba(0, 209, 178, 0.25);
  }

  &[disabled] {
    background-color: $grey;
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &::placeholder {
    color: $dark-grey;
  }
}

.checkbox,
.radio {
  position: absolute;
  opacity: 0;
  z-index: -1;

  & + span {
    cursor: pointer;
    display: inline-block;
    padding-left: 24px;
    position: relative;
    &::before {
      background-color: $white;
      border: 1px solid $border;
      border-radius: 4px;
      content: "";
      display: block;
      height: 16px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 6px;
      width: 16px;
      transition: box-shadow .2s ease;
    }
  }

  &:focus {
    & + span {
      &::before {
        box-shadow: 0 0 0 3px rgba($primary,.25);
      }
    }
  }

  &[disabled] {
    & + span {
      color: $dark-grey;
      cursor: default;

      &::before {
        background-color: $grey;
        opacity: .5;
      }
    }
  }

  &:checked {
    & + span {
      &::before {
        background-color: $primary;
        border-color: $primary;
      }

      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        background: no-repeat 50%/50% 50%;
        content: "";
        display: block;
        height: 16px;
        left: 0;
        position: absolute;
        width: 16px;
        top: 6px;
      }
    }
  }
}

.radio {
  & + span {
    &::before {
      border-radius: 100%;
    }
  }

  &:checked {
    & + span {
      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
      }
    }
  }

  &:checked[disabled] {
    & + span {
      &::before {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }
}

.switch {
  position: absolute;
  opacity: 0;
  z-index: -1;

  & + span {
    cursor: pointer;
    position: relative;

    &::before {
      background-color: $white;
      border: 1px solid $border;
      border-radius: 32px;
      content: "";
      display: inline-block;
      height: 24px;
      position: relative;
      transition: .2s ease;
      top: 6px;
      width: 48px;
    }

    &::after {
      background-color: $white;
      border: 1px solid $border;
      border-radius: 100%;
      content: "";
      display: inline-block;
      height: 24px;
      position: absolute;
      left: 0;
      top: -1px;
      transition: .2s ease;
      width: 24px;
    }
  }

  &:focus {
    & + span {
      &::before {
        box-shadow: 0 0 0 3px rgba($primary,.25);
      }
    }
  }

  &[disabled] {
    & + span {
      color: $dark-grey;
      cursor: default;

      &::before {
        background-color: $grey;
        opacity: .5;
      }
    }
  }

  &:checked {
    & + span {
      &::before {
        background-color: $primary;
        border-color: $primary;
      }
      
      &::after {
        left: 24px;
      }
    }
  }
}