.card {
  background-color: $white;
  border: $border;
  border-radius: 4px;
  display: block;
  position: relative;
  margin-bottom: 32px;
  width: 100%;

  &_image {
    position: relative;
    width: 100%;

    img {
      border-radius: 4px 4px 0 0;
      width: 100%;
    }
  }

  &_content {
    color: $text;
    padding: 24px 24px 16px;
  }

  &_title {
    font-weight: $font-medium;
  }

  &.is-small {
    .card_image {
      padding: 16px 16px 0;

      img {
        border-radius: $radius;
      }
    }
  }

  &.is-large {
    border: none;

    .card_content {
      border: $border;
      border-top: 0;
      margin-left: 5%;
      margin-right: 5%;
    }

    .card_image {
      img {
        border-radius: 8px;
      }
    }
  }
}