.list {
  border: 1px solid $grey-light;
  border-radius: $radius;


  .list_item {
    color: $black;
    display: block;
    padding: 8px 16px;

    &:not(:last-child) {
      border-bottom: 1px solid $grey-light;
    }

    &.is-active {
      background-color: $primary;
      color: $white;
      pointer-events: none;
    }

    &[disabled] {
      color: $grey-light;
      pointer-events: none;
    }

    &[href] {
      &:first-child {
        border-top-left-radius: $radius;
        border-top-right-radius: $radius;
      }

      &:last-child {
        border-bottom-left-radius: $radius;
        border-bottom-right-radius: $radius;
      }

      &:not(.is-active):hover {
        background-color: $grey-lighter;
        text-decoration: none;
      }
    }
  }
}