.modal {
  animation: modal .3s;
  background-color: $white;
  border: 0;
  border-radius: $radius;
  color: $black;
  display: none;
  font-family: $font-family;
  font-size: $font-size;
  left: calc(-50vw + 50%);
  margin: auto;
  padding: 24px;
  position: fixed;
  right: calc(-50vw + 50%);
  text-align: center;
  top: 25%;
  transform: translateY(-50%);
  width: 400px;
  z-index: 5;

  &.is-open,
  &[open] {
    display: block;
  }
}