.modal {
  animation: modal .3s;
  background-color: $white;
  border: 0;
  border-radius: $radius;
  color: $black;
  display: none;
  font-family: $font-family;
  font-size: $font-size;
  margin: auto;
  left: 50%;
  padding: 24px;
  position: fixed;
  text-align: center;
  top: 50%;
  transform: translate(-50%, -50%);
  width: 400px;
  z-index: 5;

  &.is-open,
  &[open] {
    display: block;
  }
}