.nav {
  align-items: center;
  background-color: $grey-lighter;
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 16px;
  padding: 12px 16px;

  a.nav_brand {
    margin-right: 16px;
    padding: 0;

    img {
      margin-right: 8px;
    }

    &:hover {
      text-decoration: none;
    }
  }

  ul {
    align-items: center;
    display: flex;
    margin-bottom: 0;
  }

  > a,
  li > a,
  .dropdown-trigger {
    border-radius: $radius;
    color: inherit;
    display: inline-flex;
    margin-bottom: 0;
    margin-right: 4px;
    padding: 4px 12px;

    &:hover {
      transition: 0.1s ease-out;
    }

    &[disabled] {
      color: $grey;
      cursor: default;
      pointer-events: none;
    }
  }
  
}