.pagination {
  background-color: #fff;
  border-radius: $radius;
  display: inline-flex;

  a {
    align-items: center;
    color: $text;
    border: $border;
    border-radius: $radius;
    cursor: pointer;
    display: inline-flex;
    font-size: 14px;
    justify-content: center;
    line-height: 30px;
    min-width: 32px;
    padding-left: 8px;
    padding-right: 8px;
    transition: $transition;
    user-select: none;
    -webkit-user-select: none;

    &:not(:last-child) {
      margin-right: 8px;
    }

    &:hover {
      background-color: $grey-100;
      text-decoration: none;
    }

    &:focus,
    &:active {
      box-shadow: $shadow;
    }

    &.is-current {
      border-color: $primary;
      color: $primary;
      font-weight: $font-semibold;
    }

    &[disabled] {
      color: $grey-500;
      cursor: not-allowed;
      
      &:focus,
      &:active {
        box-shadow: none
      }
    }
  }
}