.pagination {
  background-color: #fff;
  border: $border;
  border-radius: $radius;
  display: inline-flex;
  margin-bottom: 16px;

  a {
    color: $text;
    cursor: pointer;
    display: inline-block;
    font-size: 14px;
    line-height: 20px;
    padding: 8px 15px;
    text-align: center;
    transition: $transition;
    user-select: none;

    &:not(:first-child) {
      border-left: $border;
    }

    &:hover {
      text-decoration: none;
    }

    &:focus,
    &:active {
      box-shadow: $shadow;
    }

    &.is-current {
      background-color: $primary;
      color: $white;
    }

    &[disabled] {
      color: $grey;
      pointer-events: none;
    }
  }
}