.d-none,
.d-hidden,
[hidden] {
  display: none !important;
}

.d-block {
  display: block !important;
}

.d-flex {
  display: flex !important;
}

.d-inline {
  display: inline !important;
}

.d-inline-block {
  display: inline-block !important;
}

.d-inline-flex {
  display: inline-flex !important;
}

@media (min-width: 576px) {
  .d-none-sm,
  .d-hidden-sm {
    display: none !important;
  }

  .d-block-sm {
    display: block !important;
  }

  .d-flex-sm {
    display: flex !important;
  }

  .d-inline-sm {
    display: inline !important;
  }
  
  .d-inline-block-sm {
    display: inline-block !important;
  }
  
  .d-inline-flex-sm {
    display: inline-flex !important;
  }
}

@media (min-width: 768px) {
  .d-none-md,
  .d-hidden-md {
    display: none !important;
  }

  .d-block-md {
    display: block !important;
  }

  .d-flex-md {
    display: flex !important;
  }

  .d-inline-md {
    display: inline !important;
  }
  
  .d-inline-block-md {
    display: inline-block !important;
  }
  
  .d-inline-flex-md {
    display: inline-flex !important;
  }
}

@media (min-width: 992px) {
  .d-none-lg,
  .d-hidden-lg {
    display: none !important;
  }

  .d-block-lg {
    display: block !important;
  }

  .d-flex-lg {
    display: flex !important;
  }

  .d-inline-lg {
    display: inline !important;
  }
  
  .d-inline-block-lg {
    display: inline-block !important;
  }
  
  .d-inline-flex-lg {
    display: inline-flex !important;
  }
}

@media (min-width: 1200px) {
  .d-none-xl,
  .d-hidden-xl {
    display: none !important;
  }

  .d-block-xl {
    display: block !important;
  }

  .d-flex-xl {
    display: flex !important;
  }

  .d-inline-xl {
    display: inline !important;
  }
  
  .d-inline-block-xl {
    display: inline-block !important;
  }
  
  .d-inline-flex-xl {
    display: inline-flex !important;
  }
}