.is-flex-wrap {
  flex-wrap: wrap !important;
}

.is-flex-nowrap {
  flex-wrap: nowrap !important;
}

.is-justify-start {
  justify-content: flex-start !important;
}

.is-justify-end {
  justify-content: flex-end !important;
}

.is-justify-center {
  justify-content: center !important;
}

.is-justify-between {
  justify-content: space-between !important;
}

.is-justify-around {
  justify-content: space-around !important;
}

.is-justify-evenly {
  justify-content: space-evenly !important;
}

.is-align-start {
  align-items: flex-start !important;
}

.is-align-end {
  align-items: flex-end !important;
}

.is-align-center {
  align-items: center !important;
}

.is-align-baseline {
  align-items: baseline !important;
}

.is-align-self-start {
  align-self: flex-start !important;
}

.is-align-self-start {
  align-self: flex-end !important;
}

.is-align-self-center {
  align-self: center !important;
}

.is-align-self-baseline {
  align-self: baseline !important;
}

.is-align-self-stretch {
  align-self: stretch !important;
}

@media (min-width: 576px) {
  .is-justify-start-sm {
    justify-content: flex-start !important;
  }

  .is-justify-end-sm {
    justify-content: flex-end !important;
  }

  .is-justify-center-sm {
    justify-content: center !important;
  }

  .is-justify-between-sm {
    justify-content: space-between !important;
  }

  .is-justify-around-sm {
    justify-content: space-around !important;
  }

  .is-justify-evenly-sm {
    justify-content: space-evenly !important;
  }

  .is-align-start-sm {
    align-items: flex-start !important;
  }

  .is-align-end-sm {
    align-items: flex-end !important;
  }

  .is-align-center-sm {
    align-items: center !important;
  }

  .is-align-baseline-sm {
    align-items: baseline !important;
  }

  .is-align-self-start-sm {
    align-self: flex-start !important;
  }

  .is-align-self-start-sm {
    align-self: flex-end !important;
  }

  .is-align-self-center-sm {
    align-self: center !important;
  }

  .is-align-self-baseline-sm {
    align-self: baseline !important;
  }

  .is-align-self-stretch-sm {
    align-self: stretch !important;
  }
}

@media (min-width: 768px) {
  .is-justify-start-md {
    justify-content: flex-start !important;
  }

  .is-justify-end-md {
    justify-content: flex-end !important;
  }

  .is-justify-center-md {
    justify-content: center !important;
  }

  .is-justify-between-md {
    justify-content: space-between !important;
  }

  .is-justify-around-md {
    justify-content: space-around !important;
  }

  .is-justify-evenly-md {
    justify-content: space-evenly !important;
  }

  .is-align-start-md {
    align-items: flex-start !important;
  }

  .is-align-end-md {
    align-items: flex-end !important;
  }

  .is-align-center-md {
    align-items: center !important;
  }

  .is-align-baseline-md {
    align-items: baseline !important;
  }

  .is-align-self-start-md {
    align-self: flex-start !important;
  }

  .is-align-self-start-md {
    align-self: flex-end !important;
  }

  .is-align-self-center-md {
    align-self: center !important;
  }

  .is-align-self-baseline-md {
    align-self: baseline !important;
  }

  .is-align-self-stretch-md {
    align-self: stretch !important;
  }
}

@media (min-width: 992px) {
  .is-justify-start-lg {
    justify-content: flex-start !important;
  }

  .is-justify-end-lg {
    justify-content: flex-end !important;
  }

  .is-justify-center-lg {
    justify-content: center !important;
  }

  .is-justify-between-lg {
    justify-content: space-between !important;
  }

  .is-justify-around-lg {
    justify-content: space-around !important;
  }

  .is-justify-evenly-lg {
    justify-content: space-evenly !important;
  }

  .is-align-start-lg {
    align-items: flex-start !important;
  }

  .is-align-end-lg {
    align-items: flex-end !important;
  }

  .is-align-center-lg {
    align-items: center !important;
  }

  .is-align-baseline-lg {
    align-items: baseline !important;
  }

  .is-align-self-start-lg {
    align-self: flex-start !important;
  }

  .is-align-self-start-lg {
    align-self: flex-end !important;
  }

  .is-align-self-center-lg {
    align-self: center !important;
  }

  .is-align-self-baseline-lg {
    align-self: baseline !important;
  }

  .is-align-self-stretch-lg {
    align-self: stretch !important;
  }
}

@media (min-width: 1200px) {
  .is-justify-start-xl {
    justify-content: flex-start !important;
  }
  
  .is-justify-end-xl {
    justify-content: flex-end !important;
  }
  
  .is-justify-center-xl {
    justify-content: center !important;
  }
  
  .is-justify-between-xl {
    justify-content: space-between !important;
  }
  
  .is-justify-around-xl {
    justify-content: space-around !important;
  }
  
  .is-justify-evenly-xl {
    justify-content: space-evenly !important;
  }

  .is-align-start-xl {
    align-items: flex-start !important;
  }
  
  .is-align-end-xl {
    align-items: flex-end !important;
  }
  
  .is-align-center-xl {
    align-items: center !important;
  }
  
  .is-align-baseline-xl {
    align-items: baseline !important;
  }
  
  .is-align-self-start-xl {
    align-self: flex-start !important;
  }
  
  .is-align-self-start-xl {
    align-self: flex-end !important;
  }
  
  .is-align-self-center-xl {
    align-self: center !important;
  }
  
  .is-align-self-baseline-xl {
    align-self: baseline !important;
  }
  
  .is-align-self-stretch-xl {
    align-self: stretch !important;
  }
}