*,
*:before,
*:after {
  box-sizing: inherit;
}

::selection {
  background-color: $black;
  color: $white;
}

body {
  color: $body-color;
  background-color: $body-background-color;
  box-sizing: border-box;
  font-family: $body-family;
  font-size: $body-size;
  font-variant-ligatures: common-ligatures;
  font-weight: $weight-normal;
  line-height: 1.75;
  margin: 0;
  min-width: $body-min-width;
  overflow-x: hidden;
  scroll-behavior: smooth;
  text-rendering: optimizeLegibility;
  -webkit-text-size-adjust: 100%;
}

[tabindex="-1"]:focus {
  outline: 0 !important;
}

hr {
  border: 0;
  border-top: 1px solid #e0e0e0;
  margin-bottom: 16px;
  margin-top: 16px;
}

abbr[title] {
  border-bottom: 0;
  cursor: help;
  text-decoration: underline dotted;
}

address  {
  font-style: normal;
  margin-bottom: 16px;
}

ol,
ul,
dl {
  list-style: none;
  margin-bottom: 16px;
  margin-top: 0;
  padding-left: 0;

  ol,
  ul {
    list-style-type: circle;
    margin-bottom: 0;
    margin-left: 40px;
  }

  &.list--inline li {
    display: inline-block;
    list-style: none;

    &:not(:last-child) {
      margin-right: 8px;
    }
  }
}

dt {
  font-weight: $weight-bold;
}

dd {
  margin-bottom: 8px;
  margin-left: 0;
}

blockquote  {
  font-size: 20px;
  margin: 0 0 16px;
  padding: 16px 32px;

  p {
    margin-bottom: 0;
    margin-top: 0;
  }
  
  &:not(:last-of-type) {
    margin-bottom: 0;
  }

  footer {
    color: $grey-dark;
    font-size: 80%;

    &::before {
      content: "—";
    }
  }
}

sub,
sup {
  font-size: 80%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -6px;
}

sup {
  top: -8px;
}

pre,
code,
kbd,
samp {
  font-family: Consolas, monospace;
}

pre {
  background-color: $grey-lighter;
  border-radius: $radius;
  color: inherit;
  font-size: 85%;
  margin-bottom: 16px;
  margin-top: 0;
  overflow: auto;
  padding: 16px 24px;
  white-space: pre;
  word-wrap: normal;

  code {
    background-color: transparent;
    color: currentColor;
    padding: 0;
  }
}

kbd {
  background-color: $black;
  border-radius: $radius;
  color: $white;
  font-size: 85%;
  padding: 4px 8px;
}

svg {
  overflow: hidden;
  vertical-align: middle;
}

b,
strong {
  font-weight: $weight-bold;
}

i,
em {
  font-style: italic;
}

mark {
  background-color: $mark;
  color: inherit;
  padding: 4px;
}

small {
  font-size: 80%;
  font-weight: $weight-normal;
}

figure {
  display: inline-block;
  margin: 16px 0;
}

caption,
figcaption {
  caption-side: bottom;
  color: $grey-dark;
  padding-bottom: 8px;
  padding-top: 8px;
  text-align: left;
}

img {
  border-style: none;
  height: auto;
  max-width: 100%;
  vertical-align: middle;
}

a {
  background-color: transparent;
  color: $link;
  cursor: pointer;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }

  &:focus {
    box-shadow: $shadow;
    outline: none;
  }

  &:not([href]):not([tabindex]):not(.button) {
    color: inherit;
    cursor: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: inherit;
      text-decoration: none;
    }
  }

  &:not([class]) {
    text-decoration-skip-ink: auto
  }

  b,
  strong,
  code {
    color: inherit;
  }
}

p {
  margin-bottom: 16px;
  margin-top: 0;

  &:empty,
  &:last-child {
    margin-bottom: 0;
  }
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: $weight-semibold;
  line-height: 1;
  margin-bottom: 8px;
  margin-top: 0;
}

h1 {
  font-size: $header-1;
}

h2 {
  font-size: $header-2;
}

h3 {
  font-size: $header-3;
}

h4 {
  font-size: $header-4;
}

h5 {
  font-size: $header-5;
}

h6 {
  font-size: $header-6;
}