.button {
  align-items: center;
  background-color: $white;
  border: $border;
  border-radius: $radius;
  color: rgba($text, $text-opacity);
  cursor: pointer;
  display: inline-flex;
  font-weight: $font-medium;
  font-size: 14px;
  justify-content: center;
  margin-right: 4px;
  min-width: 64px;
  outline: none;
  line-height: 20px;
  padding: 8px 16px;
  position: relative;
  text-align: center;
  text-decoration: none;
  transition: $transition;
  user-select: none;

  &:hover {
    color: rgba($text, 1);
    text-decoration: none;
  }

  &:focus:not(.is-link),
  &:active:not(.is-link) {
    border-color: $grey-500;
    box-shadow: $shadow;
  }

  &.is-primary,
  &.is-secondary,
  &.is-link,
  &.is-success,
  &.is-warning,
  &.is-danger,
  &.is-info {
    border-width: 0;
    padding-bottom: 8px;
    padding-top: 8px;
  }

  &.is-primary,
  &.is-success,
  &.is-warning,
  &.is-danger,
  &.is-info {
    color: $white;
  }

  &.is-outline {
    border: $border;
    padding-bottom: 7px;
    padding-top: 7px;
  }

  &.is-primary {
    background-color: $primary;

    &:not([disabled]):hover {
      background-color: darken($primary, 5%);
    }

    &:not([disabled]):active {
      background-color: darken($primary, 10%);
    }
    
    &:not([disabled]):focus,
    &:not([disabled]):active {
      box-shadow: 0 0 0 3px rgba($primary, 0.25);
    }

    &.is-outline {
      background-color: transparent;
      border-color: $primary;
      color: $primary;

      &:hover {
        background-color: $primary;
        border-color: $primary;
        color: $white;
      }
    }
  }

  &.is-secondary {
    background-color: $secondary;

    &:not([disabled]):hover {
      background-color: darken($secondary, 5%);
    }

    &:not([disabled]):active {
      background-color: darken($secondary, 10%);
    }

    &.is-outline {
      background-color: transparent;
      border-color: $grey-500;

      &:hover {
        background-color: $secondary;
        border-color: $grey-500;
      }
    }
  }

  &.is-success {
    background-color: $success;

    &:not([disabled]):hover {
      background-color: darken($success, 5%);
    }

    &:not([disabled]):active {
      background-color: darken($success, 10%);
    }
    
    &:not([disabled]):focus,
    &:not([disabled]):active {
      box-shadow: 0 0 0 3px rgba($success, 0.25);
    }

    &.is-outline {
      background-color: transparent;
      border-color: $success;
      color: $success;

      &:hover {
        background-color: $success;
        border-color: $success;
        color: $white;
      }
    }
  }

  &.is-warning {
    background-color: $warning;

    &:not([disabled]):hover {
      background-color: darken($warning, 5%);
    }

    &:not([disabled]):active {
      background-color: darken($warning, 10%);
    }

    &:not([disabled]):focus,
    &:not([disabled]):active {
      box-shadow: 0 0 0 3px rgba($warning, 0.25);
    }

    &.is-outline {
      background-color: transparent;
      border-color: $warning;
      color: $warning;

      &:hover {
        background-color: $warning;
        border-color: $warning;
        color: $white;
      }
    }
  }

  &.is-danger {
    background-color: $danger;

    &:not([disabled]):hover {
      background-color: darken($danger, 5%);
    }

    &:not([disabled]):active {
      background-color: darken($danger, 10%);
    }

    &:not([disabled]):focus,
    &:not([disabled]):active {
      box-shadow: 0 0 0 3px rgba($danger, 0.25);
    }

    &.is-outline {
      background-color: transparent;
      border-color: $danger;
      color: $danger;

      &:hover {
        background-color: $danger;
        border-color: $danger;
        color: $white;
      }
    }
  }

  &.is-info {
    background-color: $info;

    &:not([disabled]):hover {
      background-color: darken($info, 5%);
    }

    &:not([disabled]):active {
      background-color: darken($info, 10%);
    }

    &:not([disabled]):focus,
    &:not([disabled]):active {
      box-shadow: 0 0 0 3px rgba($info, 0.25);
    }

    &.is-outline {
      background-color: transparent;
      border-color: $info;
      color: $info;

      &:hover {
        background-color: $info;
        border-color: $info;
        color: $white;
      }
    }
  }

  &.is-link {
    &:not([disabled]):hover {
      text-decoration: underline !important;
    }

    &:not([disabled]):active {
      background-color: $grey-200;
    }
  }

  &[disabled] {
    box-shadow: none;
    cursor: default;
    opacity: 0.5;
    pointer-events: none;
  }

  &.is-small {
    padding: 3px 8px;
  }

  &.is-large {
    padding: 11px 20px;
  }

  &.is-circle {
    border-radius: 100%;
  }

  &.is-rounded {
    border-radius: 50px;
  }

  &.is-circle,
  &.is-square {
    height: 40px;
    min-width: initial;
    padding: 0;
    width: 40px;
  }

  &.is-circle.is-small,
  &.is-square.is-small {
    height: 32px;
    width: 32px;
  }

  &.is-circle.is-large,
  &.is-square.is-large {
    height: 48px;
    width: 48px;
  }

  &.is-block {
    display: flex;
    width: 100%;
  }
}