.notification {
  background-color: $grey-lighter;
  border-radius: $radius;
  color: $text;
  font-size: 14px;
  margin-bottom: 16px;
  padding: 16px 24px;
  position: relative;

  a:not(.button) {
    color: inherit;
    text-decoration: underline;
  }

  &.is-primary {
    background-color: lighten($primary, 25%);
    color: darken($primary, 25%);
  }

  &.is-success {
    background-color: lighten($success, 25%);
    color: darken($success, 25%);
  }

  &.is-danger {
    background-color: lighten($danger, 25%);
    color: darken($danger, 25%);
  }

  &.is-warning {
    background-color: lighten($warning, 25%);
    color: darken($warning, 25%);
  }

  &.is-info {
    background-color: lighten($info, 25%);
    color: darken($info, 25%);
  }

  .delete {
    position: absolute;
    right: 8px;
    top: 8px;
  }
}