.progress {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: none;
  border: none;
  border-radius: $radius;
  display: block;
  height: $progress-height;
  overflow: hidden;
  padding: 0;
  width: 100%;

  &::-webkit-progress-bar {
    background-color: $grey-200;
  }

  &::-webkit-progress-value {
    background-color: $primary;
  }

  &.is-small {
    height: $progress-small;
  }

  &.is-large {
    height: $progress-large;
  }

  &.is-success::-webkit-progress-value {
    background-color: $success;
  }

  &.is-warning::-webkit-progress-value {
    background-color: $warning;
  }

  &.is-danger::-webkit-progress-value {
    background-color: $danger;
  }

  &.is-info::-webkit-progress-value {
    background-color: $info;
  }

  &[disabled] {
    box-shadow: none;
    cursor: not-allowed;
    opacity: $disabled;

    &::-webkit-progress-bar {
      background-color: $grey-400;
    }
  }
}