.table {
  background-color: $table-bg-color;
  border: 1px solid $grey-300;
  border-collapse: collapse;
  border-spacing: 0;
  color: $table-color;
  cursor: default;
  overflow-x: auto;
  overflow-y: hidden;
  width: 100%;

  thead th {
    border-bottom: 1px solid $grey-300;
  }

  th {
    background-color: $table-head-bg-color;
    border-bottom: 1px solid $grey-300;
    color: $table-head-color;
    font-size: 12px;
    font-weight: $font-medium;
    padding-bottom: 12px;
    padding-top: 12px;
    text-align: left
  }

  td {
    font-size: $table-font-size;
    padding-bottom: 16px;
    padding-top: 16px
  }

  th,
  td {
    padding-left: 24px;
    padding-right: 24px;
  }

  tr:not(:last-child) {
    border-bottom: 1px solid $grey-300;
  }

  &.is-borderless {
    tr:not(:last-child) {
      border: 0;
    }
  }

  &.is-striped {
    tr:nth-child(even) {
      background-color: $grey-100;
    }
  }

  &.is-hoverable {
    tr:hover {
      background-color: $grey-100;
    }

    &.is-striped {
      tr:nth-child(even):hover {
        background-color: $grey-200;
      }
    }
  }
}