
.tag {
  align-items: center;
  background-color: $grey-200;
  border-radius: $radius;
  color: $text;
  cursor: default;
  display: inline-flex;
  justify-content: center;
  font-size: 13px;
  margin-right: 4px;
  overflow: hidden;
  padding: 4px 8px;
  vertical-align: middle;

  .tag_detail {
    background-color: rgba(0, 0, 0, .05);
    color: inherit;
    padding-bottom: 4px;
    padding-top: 4px;

    &:first-child:not(:last-child) {
      margin: -8px 4px -8px -12px;
      padding-left: 12px;
      padding-right: 4px;
    }

    &:last-child:not(:first-child) {
      margin: -8px -12px -8px 4px;
      padding-left: 4px;
      padding-right: 12px;
    }
  }

  .delete {
    color: inherit;

    &:first-child:not(:last-child) {
      margin-right: 4px;
    }

    &:last-child:not(:first-child) {
      margin-left: 4px;
    }
  }
}

.tags {
  .tag {
    margin-bottom: 8px
  }
}