
.tag {
  align-items: center;
  background-color: $tag-bg-color;
  border-radius: 99px;
  color: $tag-color;
  cursor: default;
  display: inline-flex;
  justify-content: center;
  font-size: 12px;
  font-weight: $font-normal;
  height: $tag-height;
  overflow: hidden;
  padding-left: 8px;
  padding-right: 8px;

  &.is-primary {
    background-color: lighten($primary, 25%);
    color: darken($primary, 25%)
  }

  &.is-success {
    background-color: lighten($success, 25%);
    color: darken($success, 25%)
  }

  &.is-danger {
    background-color: lighten($danger, 25%);
    color: darken($danger, 25%)
  }

  &.is-warning {
    background-color: lighten($warning, 25%);
    color: darken($warning, 25%)
  }

  &.is-info {
    background-color: lighten($info, 25%);
    color: darken($info, 25%)
  }

  .delete {
    color: inherit;
    height: $delete-small;
    width: $delete-small;

    &:first-child:not(:last-child) {
      margin-right: 4px
    }

    &:last-child:not(:first-child) {
      margin-left: 4px
    }
  }
}

.tags {
  .tag {
    margin-bottom: 4px
  }
}