.checkbox,
.radio {
  appearance: none;
  background-color: $white;
  border: $border;
  border-radius: $radius;
  cursor: pointer;
  display: inline-block;
  height: $checkbox-radio-size;
  margin: 0 0 -2px;
  position: relative;
  width: $checkbox-radio-size;
  transition: box-shadow .2s ease;

  &:focus {
    box-shadow: 0 0 0 3px rgba($checkbox-radio-bg-color,.25);
  }

  &:checked {
    background-color: $checkbox-radio-bg-color;
    border-color: $checkbox-radio-bg-color;
  }

  &[disabled] {
    background-color: $grey-200;
    cursor: not-allowed;
    opacity: $disabled;

    & + span {
      cursor: not-allowed;
    }
  }
  
  & + span {
    margin-left: -4px;
    padding-left: 8px;
  }
}

.checkbox {
  border-radius: $radius;

  &:checked {
    background: $checkbox-radio-bg-color url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e") no-repeat 3px 3px/8px;
  }
}

.radio {
  &,
  &::before {
    border-radius: 100%;
  }

  &:checked {
    background: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e") no-repeat;
    border: 5px solid $checkbox-radio-bg-color;
  }
}