.checkbox,
.radio {
  position: absolute;
  opacity: 0;
  z-index: -1;

  & + span {
    cursor: pointer;
    display: inline-block;
    padding-left: 24px;
    position: relative;
    
    &::before {
      background-color: $white;
      border: $border;
      border-radius: $radius;
      content: "";
      display: block;
      height: 16px;
      left: 0;
      pointer-events: none;
      position: absolute;
      top: 6px;
      width: 16px;
      transition: box-shadow .2s ease;
    }
  }

  &:focus {
    & + span {
      &::before {
        box-shadow: 0 0 0 3px rgba($primary,.25);
      }
    }
  }

  &[disabled] {
    & + span {
      color: $grey-dark;
      cursor: default;

      &::before {
        background-color: $grey-lighter;
        opacity: .5;
      }
    }
  }

  &:checked {
    & + span {
      &::before {
        background-color: $primary;
        border-color: $primary;
      }

      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        background: no-repeat 50%/50% 50%;
        content: "";
        display: block;
        height: 16px;
        left: 0;
        position: absolute;
        width: 16px;
        top: 6px;
      }
    }
  }

  &.color-input {
    & + span {
      border-radius: 3px;
      margin-right: 4px;
      height: 32px;
      width: 32px;
      
      &::before {
        content: none;
      }

      &::after {
        content: "";
        height: 24px;
        left: 50%;
        top: 50%;
        width: 24px;
        transform: translateX(-50%) translateY(-50%);
      }
    }

    &:checked {
      & + span {
        &::after {
          background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 8 8'%3e%3cpath fill='%23fff' d='M6.564.75l-3.59 3.612-1.538-1.55L0 4.26 2.974 7.25 8 2.193z'/%3e%3c/svg%3e");
        }
      }
    }
  }

  &.select-input {
    & + span {
      align-items: center;
      border: 1px solid $grey-light;
      border-radius: 3px;
      display: inline-flex;
      height: 40px;
      justify-content: center;
      margin-right: 4px;
      padding-left: 8px;
      padding-right: 8px;
      min-width: 40px;
      
      &::before,
      &::after {
        content: none;
      }
    }

    &:checked {
      & + span {
        background-color: lighten($primary, 45%);
      }
    }
  }

  &.color-input,
  &.select-input {
    &:focus {
      & + span {
        box-shadow: 0 0 0 3px rgba($primary,.25);
      }
    }

    &.is-circle {
      & + span {
        border-radius: 50px;
      }
    }
  }
}

.radio {
  & + span {
    &::before {
      border-radius: 100%;
    }
  }

  &:checked {
    & + span {
      &::after {
        background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3e%3ccircle r='3' fill='%23fff'/%3e%3c/svg%3e");
      }
    }
  }

  &:checked[disabled] {
    & + span {
      &::before {
        background-color: $primary;
        border-color: $primary;
      }
    }
  }
}