.form-field {
  position: relative;
  margin-bottom: 16px;

  & > label {
    display: block;
    font-size: $label-font-size;
    margin-bottom: 4px;
  }

  &.has-loading {
    &:after {
      animation: spinAround .5s infinite linear;
      border: 2px solid $grey-500;
      border-radius: 100%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      height: 16px;
      width: 16px;
      position: absolute;
      right: 12px;
      top: 12px;
    }

    .input {
      padding-right: 40px;
    }
  }
}