.form-field {
  position: relative;
  margin-bottom: 16px;

  &.has-loading {
    &:after {
      animation: spinAround .5s infinite linear;
      border: 2px solid $grey;
      border-radius: 100%;
      border-right-color: transparent;
      border-top-color: transparent;
      content: "";
      height: 16px;
      width: 16px;
      position: absolute;
      right: 12px;
      top: 12px;
    }

    .input {
      padding-right: 40px;
    }
  }

  &.has-icon {
    .input {
      padding-left: 40px;
      
      + .input-icon {
        color: $grey-dark;
        display: inline-block;
        font-size: 16px;
        left: 12px;
        position: absolute;
        text-align: center;
        top: 6px;
        transition: $transition;
        width: 16px;
      }

      &:focus {
        + .input-icon {
          color: $text;
        }
      }
    }

    label + .input + .input-icon {
      top: 33px;
    }
  }
}