%input-textarea {
  background-color: $white;
  border: $border;
  border-radius: $radius;
  color: $text;
  display: block;
  font-size: $input-font-size;
  font-weight: $font-normal;
  outline: none;
  padding-left: 12px;
  padding-right: 12px;
  transition: box-shadow .2s ease;
  width: 100%;

  &:focus {
    box-shadow: $shadow;
  }

  &:-webkit-autofill {
      -webkit-box-shadow: 0 0 0 30px $white inset;
      transition: box-shadow 0s ease;

      &:focus {
        -webkit-box-shadow: $shadow, 0 0 0 30px $white inset;
      }
  }

  &[disabled] {
    background-color: $grey-200;
    box-shadow: none;
    cursor: not-allowed;
    opacity: $disabled;
  }

  &::placeholder {
    color: $grey-700;
  }
}

.input {
  @extend %input-textarea;
  height: $input-height;
  height: $input-height;

  &.is-valid,
  &.is-invalid {
    background-repeat: no-repeat;
    background-position: center right 12px;
    background-size: 16px;
    padding-right: 40px;
  }

  &.is-valid {
    border-color: lighten($input-valid, 15%);
    background-color: lighten($input-valid, 47%);
    
    &:focus {
      box-shadow: 0 0 0 3px rgba($input-valid,0.25);
    }

    + .input-text {
      color: $input-valid;
    }
  }

  &.is-invalid {
    border-color: lighten($input-invalid, 15%);
    background-color: lighten($input-invalid, 37%);

    &:focus {
      box-shadow: 0 0 0 3px rgba($input-invalid,0.25);
    }

    + .input-text {
      color: $input-invalid;
    }
  }

  + .input-text {
    color: $grey-700;
    display: block;
    margin-top: 4px;
  }
}

.textarea {
  @extend %input-textarea;
  min-height: 120px;
  padding-bottom: 8px;
  padding-top: 8px;
  resize: vertical;
}