.switch {
  position: absolute;
  opacity: 0;
  z-index: -1;

  & + label {
    cursor: pointer;
    position: relative;

    &::before {
      background-color: $white;
      border: $border;
      border-radius: 32px;
      content: "";
      display: inline-block;
      height: 24px;
      position: relative;
      transition: $transition;
      top: 4px;
      width: 40px;
    }

    &::after {
      background-color: $white;
      border: $border;
      border-radius: 100%;
      content: "";
      display: inline-block;
      height: 18px;
      position: absolute;
      left: 2px;
      top: -1px;
      transition: $transition;
      width: 18px;
    }
  }

  &:focus {
    & + label {
      &::before {
        box-shadow: 0 0 0 3px rgba($primary,.25);
      }
    }
  }

  &[disabled] {
    & + label {
      color: $grey-700;
      cursor: default;

      &::before {
        background-color: $grey-200;
        opacity: $disabled;
      }
    }
  }

  &:checked {
    & + label {
      &::before {
        background-color: $switch-bg-color;
        border-color: $switch-bg-color;
      }
      
      &::after {
        left: 18px;
      }
    }
  }
}