.switch {
  appearance: none;
  background-color: $white;
  border: $border;
  border-radius: 32px;
  cursor: pointer;
  display: inline-block;
  height: 24px;
  margin: 0;
  position: relative;
  transition: $transition;
  width: 40px;

  &::before {
    background-color: $white;
    border: $border;
    border-radius: 100%;
    content: "";
    display: inline-block;
    height: 18px;
    position: absolute;
    left: 2px;
    top: 2px;
    transition: $transition;
    width: 18px;
  }

  &:focus {
    box-shadow: 0 0 0 3px rgba($primary,.25);
  }

  &:checked {
    background-color: $switch-bg-color;
    border-color: $switch-bg-color;

    &::before {
      border-color: #fff;
      left: 18px;
    }
  }

  &[disabled] {
    cursor: not-allowed;
    opacity: $disabled;

    &::before {
      background-color: $grey-200;
      border-color: $grey-200;
    }
  }
}